[2020-03-22 12:55] dondiego9999 opened #1 "led strips not available"
It is not possible to change the state of LED strips. They do not who in the home app

[2020-04-21 08:30] vvsokolov opened #2 "Support for Thermostats"
Hi, @ilcato !
Could you please add Thermostats support ?
Now operatingMode is in the same device, but in it's "properties".
For example
"supportedThermostatModes": [
      "Off",
      "Heat"
    ],
"thermostatMode": "Heat"

[2020-04-21 08:50] ilcato commented on #2
Waiting for a more stable HC3 firmware.

[2020-04-21 08:53] vvsokolov commented on #2
I’m pretty sure that nothing will change in the API part. Or is there any reasonable doubt about this?

[2020-04-21 08:57] ilcato commented on #2
Last week I was not able to test it.

[2020-04-21 08:59] vvsokolov commented on #2
You can give me an untested version - I will try to test it.

[2020-04-21 09:00] ilcato commented on #2
Tested manual call to the API with inconsistent results.

[2020-04-21 09:07] vvsokolov commented on #2
The only problem is the thermostatMode ?

[2020-04-21 09:16] ilcato commented on #2
No, stability and inconsistent results. The API seems clear,

[2020-04-21 09:41] vvsokolov commented on #2
hm...Bad news :(

[2020-04-21 09:55] vvsokolov commented on #2
But how Fibaro GUI works with inconsistent data from API ?

[2020-04-27 08:05] antoniopll opened #3 "Error with 'getCharacteristic'"
Hello,
I have this error when I start homebridge:
[4/27/2020, 10:00:41 AM] TypeError: Cannot read property 'getCharacteristic' of undefined
    at Accessory._this._sideloadServices (/usr/lib/node_modules/homebridge/node_modules/hap-nodejs/dist/lib/Accessory.js:1046:17)
    at Function.Accessory.deserialize (/usr/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/Accessory.ts:1681:15)

[2020-04-28 13:04] ilcato commented on #3
Try with the new version.
Delete the accessories folder in case of further problems.

[2020-04-28 13:48] antoniopll commented on #3
Yeah! Deleting the accessories folder and restarting homebridge, now is working.
Thanks!

[2020-05-13 07:31] #3 closed

[2020-05-13 07:32] ilcato commented on #2
Will check again the next firmware release.

[2020-05-13 07:33] ilcato commented on #1
@dondiego9999, can you detail describe your case?

[2020-05-28 18:00] vvsokolov commented on #2
5.031.33 is released!

Could you please check it ?

[2020-06-01 17:31] vvsokolov commented on #2
Any news ?

[2020-06-01 18:21] ilcato commented on #2
It works well. As soon as I have a little free time I will implement it.

[2020-06-04 12:08] vvsokolov commented on #2
let the force and little free time be with you

[2020-06-04 13:32] ilcato commented on #2
A strange thing that is happening with the new firmware is that the device discovery doesn't report the actions list. I'm not sure if with the previous one it was available but I have problem with an home assistant instance that is no more working.

[2020-06-05 18:18] vvsokolov commented on #2
Hm. Very strange. In the block-scene editor, this is available:
<img width="298" alt="Знімок екрана 2020-06-05 о 21 16 32" src="https://user-images.githubusercontent.com/4036031/83909791-1940aa00-a772-11ea-9bc5-d41d45d7bac0.png">

[2020-06-10 07:40] vvsokolov commented on #2
Hello, @ilcato !
Any news ?

[2020-06-16 12:32] vvsokolov commented on #1
I  have the same issue: Fibaro RGBW Controller2 not shown in Accessories.

[2020-06-23 17:37] vvsokolov commented on #1
@ilcato, can I help you to localize error ?

[2020-06-23 17:58] ilcato commented on #1
Can you check the type attribute in the device api?  I do not have such a devices. I'm looking for com.fibaro.FGRGBW441M and com.fibaro.colorController.

[2020-06-25 20:47] KostuaD commented on #1
New controller has type - com.fibaro.FGRGBW442

[2020-06-25 20:50] KostuaD commented on #1
<img width="1223" alt="Screenshot 2020-06-25 at 23 48 31" src="https://user-images.githubusercontent.com/67440815/85794025-9bebd200-b73e-11ea-8350-411fbe00224b.png">
<img width="1214" alt="Screenshot 2020-06-25 at 23 48 50" src="https://user-images.githubusercontent.com/67440815/85794038-a1e1b300-b73e-11ea-8647-cee4cd2205b9.png">

[2020-06-26 01:48] ilcato commented on #1
@KostuaD, just published version 1.0.4. Can you try it?

[2020-06-26 12:05] KostuaD commented on #1
Hello!
Updated to version 1.0.4. The module is registered.
I can turn it on and off, but there is no way to adjust the brightness, and accordingly I can not change the color of the glow of the LED strip.
Thanks you!

[2020-06-26 12:16] ilcato commented on #1
@KostuaD, can you send me the whole json object associated to the new device types?

[2020-06-26 17:50] KostuaD commented on #1
Please tell me which file is needed and where to find it

[2020-06-27 17:31] KostuaD commented on #1
[template-155-com.fibaro.FGRGBW442CC.zip](https://github.com/ilcato/homebridge-fibaro-hc3/files/4840989/template-155-com.fibaro.FGRGBW442CC.zip)
This is a template loaded with Fibaro HC3

[2020-06-28 10:40] ilcato commented on #1
@KostuaD, select the icon with the symbol {...} in the lower left of the Fibaro Home Center web site.
Select "Devices" ine the "Select a definition" combo box.
Select "GET ​/devices​/{deviceID}" row in the list.
Click on "Try it out"
Insert deviceId and press execute.
Post here the resulted response.

Thanks

[2020-06-29 11:50] vvsokolov commented on #1
{
  "id": 148,
  "name": "Лента (09)",
  "roomID": 220,
  "view": [
    {
      "assetsPath": "/dynamic-plugins/com.fibaro.rgbwController/assets",
      "jsPath": "/dynamic-plugins/com.fibaro.rgbwController",
      "name": "com.fibaro.rgbwController",
      "translatesPath": "/dynamic-plugins/com.fibaro.rgbwController/i18n",
      "type": "ts"
    }
  ],
  "type": "com.fibaro.FGRGBW442CC",
  "base

[2020-06-29 12:33] ilcato commented on #1
@vvsokolov, they changed the api for setting the color. Are you able to test the interface of the setColor action? Without a working device I'm not able to check it. Thanks.

[2020-06-29 13:53] vvsokolov commented on #1
yes, I can

[2020-07-01 19:49] vvsokolov commented on #2
Hello, @ilcato  !
Any news ?

[2020-07-07 18:50] vvsokolov commented on #1
@ilcato is it version for testing ?

[2020-07-26 09:42] vvsokolov commented on #1
@ilcato , Fibaro release firmware 5.040.37

[2020-07-30 10:37] vvsokolov commented on #2
Hello, @ilcato  !
Any news ?

[2020-08-07 14:57] mlachman opened #4 "Lock state doesn't update"
Hello,

I have three danalock v3 zwave edition included in my zwave network operated by fibaro. In order to use them with homekit, I use the homebridge-fibaro-hc3 plugin. When I use homekit to open or close the lock, it works perfectly but the lock always seems open in the homekit app. It seems like the Lock State doesnt change.

The following message also appear in the log:

`[8/7/2020, 2:46:46 P

[2020-08-25 00:05] Kimhy75 opened #5 "Can you support for Philips hue device"
Hello
The hc3 currently supports the hue device.
No switches or lights appear on hc3 even if they are registered.

Can you support it?

Thanks.

[2020-09-15 17:49] crlppr opened #6 "https certificate"
Hello,

Thanks a lot, very good pluggings

In settings, network I have activated only https communication. When I do that I get this error. Do you know where / how can I install the certificate?.

Thanks in advance.

[2020-9-15 19:29:53] [FibaroHC3] Error fetching updates:  Error: unable to get local issuer certificate
    at TLSWrap.verifyError (<anonymous>)
    at TLSSocket.onConnectSecure (_tls

[2020-10-03 13:01] Damianeq90 opened #7 "Fibaro Door or Window Sensor"
Hi!

Does the plug support the Fibaro Door or Window Sensor? Unfortunately, I cannot see this device in my Homebridg ...?

[2020-10-06 21:30] Sinoples commented on #7
Hi
It s fixed, can u try.

[2020-10-06 21:42] Damianeq90 commented on #7
I understand that I should update your HomeBridge add-on? All the time he does not see the system of sensors opening doors and windows.

[2020-10-06 22:00] Damianeq90 commented on #7
ok I updated the shadows file but the door and window sensors are still not visible

[2020-10-06 22:32] Sinoples commented on #7
I need Devise Type, can u execute REST API devise from your HC3 ?
1. Take ID
![image](https://user-images.githubusercontent.com/43269264/95266762-22cb4300-0834-11eb-9541-b09d3c064812.png)
2. Execute in the swagger REST API Devise
![image](https://user-images.githubusercontent.com/43269264/95266902-6e7dec80-0834-11eb-8b36-ddc2cb1d1d2b.png)
3. Reply with result

[2020-10-07 16:29] Damianeq90 commented on #7
Details
--
200 | Response bodyDownload{   "id": 133,   "name": "Okno",   "roomID": 220,   "view": [     {       "assetsPath": "/dynamic-plugins/com.fibaro.securitySensor/assets",       "jsPath": "/dynamic-plugins/com.fibaro.securitySensor",       "name": "com.fibaro.securitySensor",       "translatesPath": "/dynamic-plugins/com.fibaro.securitySensor/i18n",       "type": "ts"     }   ],   "type": "

[2020-10-07 16:32] Damianeq90 commented on #7
In Attachment
[door.txt](https://github.com/ilcato/homebridge-fibaro-hc3/files/5342254/door.txt)

[2020-10-07 16:46] ilcato commented on #7
@Damianeq90 , I just published version 1.0.5 that contains the @Sinoples changes.

[2020-10-07 17:39] Damianeq90 commented on #7
Thank you! It works :)

[2020-10-07 18:56] #7 closed

[2020-10-14 20:28] sossowski commented on #4
I have exactly the same problem with my danalock v3 zwave edition.

[2020-10-31 08:22] dondiego9999 opened #9 "Fibaro Security System configuration for HomeKit - Returns error 0 parameter: Security System Target State"
After doing all the steps in the wiki manual
i am still not able to enable or disable the alarm system via Homebridge. If i run the scenes (SetStayArmed) in the FIBARO controller, i get a notification on my phone. But when i want to change the status on my phone i get following error:
"Setting value to device:  0  parameter: Security System Target State"

I had a lots of alarmzones before, this is

[2020-10-31 08:44] dondiego9999 opened #10 "Fibaro HC3 - Profile Support"
The FIBARO HC3 has the new option to use Profiles - called
- Home
- Away
- Vacation
- Night
is there a way to have them accessible in homebridge?

[2020-10-31 17:44] #9 closed

[2020-10-31 17:44] dondiego9999 commented on #9
sorry i do not know why ... but it is working now ;)

[2020-10-31 18:06] dondiego9999 commented on #10
I added the profiles to the alarm system -> this works

[2020-10-31 18:06] #10 closed

[2020-11-21 17:22] lionep opened #11 "Error fetching updates: null spamming logs"
Hello,

First, thanks for this great project, it's mostly the only homebridge plugin I'm using.

In logs, I've this message showing 2 times every 5 seconds :
[code]

Here is the config.json :
[code]

I created a dedicated user on Fibaro HC3 for this plugins, of type "user", with access to every device, every scene, every alarm zones and every profiles.

I can do some tests, to help for this.

[2020-11-29 16:21] 10der opened #14 "question about uniqueSeed"
@ilcato why?
let uniqueSeed = shadowAccessory.name + shadowAccessory.roomID;
why not
let uniqueSeed = shadowAccessory.deviceID; ??!!

what the motivation to use the surrogate key?

[2020-11-29 18:32] ilcato commented on #14
@10der because if two different device in different rooms have the same name there will be a uuid clash.

[2020-11-29 18:50] odenisenko commented on #14
Sir. I am askinh about DeviceID what uniq for HCx
always!

[2020-11-29 18:51] odenisenko commented on #14
why we can't use device.id instead of surrogate key

[2020-11-29 18:52] odenisenko commented on #14
ahh. maybe i know.
cuz sometimes the device can be removed and added... with a new ID.

ok. closed

[2020-11-29 18:53] #14 closed

[2020-12-02 06:50] theuksbest opened #15 "Cannot read property 'name' of null"
Thanks for all the efforts that have gone into this integration!

Looking for some help and ideas, having a problem connecting the HOOBS plugin with HC3 - getting an error like cannot read property “name” of null.

I have it setup as recommended i think, and dont see anything obvious.

{
  "name": "FibaroHC3",
  "host": "192.168.x.x",
  "username": "admin",
  "password": "****"
}

Any thoughts wha

[2020-12-02 19:24] vac-pav commented on #15
I have the same problem when using with homebridge. Only 1.0.6 is causing problems, 1.0.5 is running fine.

[2020-12-04 19:51] theuksbest commented on #15
@vac-pav - good to know, I’m not sure in HOOBS how to select a previous version to install instead. Hopefully they fix then and release an update soon

[2020-12-07 20:21] 10der opened #16 "bugfix shadows.ts"
@ilcato hi!
I sorry, can you make a quick fix

![image](https://user-images.githubusercontent.com/7056498/101401050-7280c600-38da-11eb-9451-ee63d5258bff.png)
shadows.ts
just add braces

thnak you!

[2020-12-07 20:22] 10der commented on #16
facepalmed.

[2020-12-07 20:25] #16 closed

[2020-12-07 20:25] 10der commented on #16
do pr

[2020-12-07 20:31] 10der opened #17 "v1.0.6 include not all changes from master"
@ilcato subj!

[2020-12-07 21:07] ilcato commented on #17
@10der, do you want me to publish your last PR ? Does it fix the problem?

[2020-12-07 21:37] ilcato commented on #17
@10der published the current master version with your last PR. Should fix the error.

[2020-12-07 21:38] ilcato commented on #15
@theuksbest @vac-pav can you test version 1.0.7 ?

[2020-12-07 21:42] vac-pav commented on #15
@ilcato 1.0.7 seems to work OK. Thanks for the error correction.

[2020-12-07 22:20] ilcato commented on #15
Fixed

[2020-12-07 22:20] #15 closed

[2020-12-07 22:20] ilcato commented on #17
Fixed

[2020-12-07 22:20] #17 closed

[2020-12-07 22:22] ilcato commented on #11
@lionep is everything else working? I Homekit receiving updates from home center?

[2020-12-07 22:34] lionep commented on #11
Hello, yes, almost everything : security system hand with no response, when changing the value from Homekit.

It looks like I don't have the log anymore after upgrading to v1.0.7 and upgrading homebridge, but I have this log, that may be related :

[code]

Let me know how I can help.

[2020-12-07 22:50] ilcato commented on #6
@crlppr, you should execute
`export NODE_EXTRA_CA_CERTS="FIBARO CA CERTIFICATE FILE PATH"
`
before running home bridge.

You also need to specify the host by name and not by IP.

[2020-12-07 22:57] ilcato commented on #11
Can you disable in config.json the security system flag and the global variable if you use it?

[2020-12-07 22:59] ilcato commented on #5
No @Kimhy75. Please use the home bridge-hue plugin for it.

[2020-12-07 22:59] #5 closed

[2020-12-07 23:00] ilcato commented on #4
Unfortunately this is very hard to analyze without a real device.

[2020-12-07 23:05] ilcato commented on #1
@vvsokolov can you check how the setColor action works by calling the API directly?

[2020-12-08 08:22] lionep commented on #11
It looks like putting `"securitysystem": "disabled",` silence the log.

[2020-12-08 08:28] ilcato commented on #11
Was "securitysystem" ever working? Did you configured all the parts?

[2020-12-08 09:08] theuksbest commented on #15
Agree, seems to be working now. @ilcato many thanks!

[2020-12-08 16:55] dior4ik commented on #1
Hi! The same issue. RGBW can be only switched on or off, but brightness control does not work. I can help you to debug the issue if you tell me what you want.

[2020-12-08 17:11] ilcato commented on #1
@dior4ik I nee you to try to call the setColor action API in order to understand what I need to pass to it.

[2020-12-08 22:40] dior4ik commented on #1
I don't have an RGB strip and use Fibaro RGBW only to switch it On, Off and control brightness. Now only On and Off features are working. Here is a sample request for controlling brightness:

curl -X POST "http://192.168.13.224/api/devices/141/action/setValue" -H  "accept: */*" -H  "Content-Type: application/json" -H  "X-Fibaro-Version: 2" -H  "Accept-language: en" -H  "Authorization: Basic ......

[2020-12-09 17:11] flipoidix commented on #2
@ilcato
Hi! any chance you could implement this thermostat functionality? thank you!

[2020-12-14 11:36] flipoidix opened #18 "reset cache, looses assignments in homekit for some devices only"
Hi,

I'm having a problem with some devices, if I need to clear the cache of the homebridge, I loose all assignments in homekit, but not for all devices.

Example:

"com.fibaro.rollerShutter" and "Outlet" are recognized as the same devices after reseting cache

"com.fibaro.binarySwitch" loose assignments,

Is there anything you can do to prevent this? Is it possible to keep the fibaro ID's or some

[2020-12-31 14:33] Jame-Stitel commented on #6
Hi, I set the hostname to HC3-XXXXXXXX
executed
`export NODE_EXTRA_CA_CERTS="usr/share/ca-certificates/local/ca.cer"`
but still having this issue

[2021-01-02 15:20] Jame-Stitel commented on #6
Hi, did you manage to get this running? @crlppr

[2021-01-02 22:01] Jame-Stitel commented on #6
Well, it actually does not throw that error regarding problem with certificate anymore, it does show fibaro accessories in Apple Home now, but I am not able to control them. It results in "no response". When I switch Fibaro to accept http, all is fine... so still issue with the ssl certificate?

[2021-01-03 21:02] crlppr commented on #6
Hi Jame-Stitle, thanks a lot for your help. Finally, I managed using the following command.

curl --cacert /home/pi/fibaro.cer -X PUT "https://HC3-00003xxx/api/scenes/117" -H "accept: */*" -H "Content-Type: application/json" -
H "X-Fibaro-Version: 2" -H "Accept-language: es" -H "Authorization: Basic YXXXXXXXXXXXXXXXXXXXXX=" -d "{\"id\":117,\"enabled\":false}"

[2021-01-03 21:02] #6 closed

[2021-01-04 05:18] dazcro commented on #4
Hi, I am experiencing a similar issue with Yale Lock with Zwave - It's like the lock is always unlocked in the Home App, but when i try to lock it, it sends the "Lock Command" to fibaro, but then the status remains as "unlocked" or "No Response"
I do have Charles Proxy, if there is something you would like me to test and provide debug info, please let me know.

[2021-01-04 21:40] Jame-Stitel commented on #6
Did you implement it with the homebridge code? Btw. are you using the hb-service?

[2021-01-04 22:11] crlppr commented on #6
HI Jame-Stitel,

Sorry but No. This is just a .sh script executed from the Rapsberry PI to the Fibaro HC3. In the Raspberry PI, I'm able to manage the working and not working days and based on that, I'm activating or de-activating scenes in the HC3, for example, the wakeup scenes.

[2021-01-08 18:36] mrarzt opened #19 "Raffstore slats and/or scenes"
Hello,

is it possible to get the scenes which are defined on the HC3? Think this is a workaround for everthing which comes in the future.

Actual i have the issue that i can‘t control the slats in homebridge of my raffstores.

Best

[2021-01-17 18:26] vkamenski opened #20 ""com.fibaro.multilevelSwitch" incorrectly displays in HomeKit App"
A device with the type of "com.fibaro.multilevelSwitch" incorrectly displays in HomeKit App. It should have a slicer control instead of binary "on" and "off".

Fibaro HC3. I can increase or decrease the fan by changing the brightness control.
![HC3](https://user-images.githubusercontent.com/607015/104852346-a30d4400-590b-11eb-9ae2-3c2d74a5549b.JPG)

iOS HomeKit App. Only on and off states are ther

[2021-01-21 18:34] vkamenski commented on #4
+1

[2021-01-25 14:57] khw1006 commented on #4
getLockCurrentState function should be fixed like below

https://github.com/khw1006/homebridge-fibaro-hc3/commit/d53125caf14c1b2dfa6ec9c92f699945c8e9c245

[2021-01-29 19:39] vkamenski opened #21 "no support of "com.fibaro.hvacSystem" devices"
Hi,

Devices with the type "com.fibaro.hvacSystem" (specifically [heatit](https://manuals.heatit.com/PDF/Heatit%20Z-TRM3/Manual_Heatit_Z-TRM3_FW%204.0%20Ver2020-C_ENG.pdf) thermostat) don't appear in accessories list

[2021-02-05 20:47] vkamenski opened #22 "no support of "com.fibaro.FGT001" devices"
Hi,

Devices with the type "com.fibaro.FGT001" don't appear in accessories list

[2021-02-09 15:23] vkamenski commented on #4
Your fix works. I've verified it on my local installation with Danalock.  I think, it'd be logical to send a pull request with you fix as a next step.

[2021-02-09 15:28] ilcato commented on #4
@khw1006 please pack a PR.
@vkamenski thanks for testing.

[2021-02-10 09:20] #4 closed

[2021-02-10 09:36] ilcato commented on #4
@khw1006 @vkamenski just published version 1.0.9 containing the fix.

[2021-02-21 11:28] hoffmanncedric opened #25 "[Fibaro_HC3] Error getting data from Home Center: Error: unable to get local issuer certificate"
[2/21/2021, 12:20:44 PM] [Fibaro_HC3] Error getting data from Home Center:  Error: unable to get local issuer certificate
    at TLSSocket.onConnectSecure (_tls_wrap.js:1497:34)
    at TLSSocket.emit (events.js:315:20)
    at TLSSocket._finishInit (_tls_wrap.js:932:8)
    at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:706:12) {
  code: 'UNABLE_TO_GET_ISSUER_CERT_LOCALLY'
}
(node:3902) UnhandledPromi

[2021-02-21 11:31] ilcato commented on #25
How did you configured the host parameter in config.json?

[2021-02-21 11:36] hoffmanncedric commented on #25
![HC3](https://user-images.githubusercontent.com/26899103/108623830-602a1900-7441-11eb-8045-eb0f6abcc556.jpg)

[2021-02-21 11:38] ilcato commented on #25
Is your Home Center exposing https interface?

[2021-02-21 11:40] hoffmanncedric commented on #25
![HC3](https://user-images.githubusercontent.com/26899103/108623917-ed6d6d80-7441-11eb-9c5d-f78913d082cf.jpg)

[2021-02-21 11:45] ilcato commented on #25
Please enable also the http interface.
I'm currently implementing the support also for https. I will keep you updated.

[2021-02-21 11:47] hoffmanncedric commented on #25
I try but its locked, i will check this point on my side and reverse back to you when http will be activated, thanks for your quick support! :-)

[2021-02-21 11:56] hoffmanncedric commented on #25
it's works!! thanks a lot!very good job!

[2021-02-21 12:00] ilcato commented on #25
Check within a few hours, I should publish a release with https support.

[2021-02-21 15:47] ilcato commented on #25
@hoffmanncedric, try new version. You should put in the new param "url" the address of your Home Center like:
`"url": "https://hc3-00000XXX.local"`
Then you need to obtain the ca.cer file from your Home Center and put it in the same folder as config.json.

[2021-02-21 16:57] hoffmanncedric commented on #25
2/21/2021, 5:51:37 PM] [Fibaro_HC3] Error getting data from Home Center:  Error: getaddrinfo ENOTFOUND hc3-00014803.local
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:67:26) {
  errno: -3008,
  code: 'ENOTFOUND',
  syscall: 'getaddrinfo',
  hostname: 'hc3-00014803.local',
  response: undefined
}
(node:10159) UnhandledPromiseRejectionWarning: Error: getaddrinfo ENOTFOUND hc3-00014803.

[2021-02-21 17:23] ilcato commented on #25
@hoffmanncedric, where did you put the ca.cer file?

[2021-02-21 17:30] hoffmanncedric commented on #25
![image](https://user-images.githubusercontent.com/26899103/108633135-eca0ff80-7472-11eb-8176-f2cd6d89dcc4.png)

[2021-02-21 17:36] hoffmanncedric commented on #25
i try to copy the .cer into module and fibaro but same problem

![image](https://user-images.githubusercontent.com/26899103/108633278-b0ba6a00-7473-11eb-95e8-04e4f5e65e55.png)

[2021-02-21 17:46] ilcato commented on #25
Are you running homebridge in docker?

[2021-02-21 17:48] ilcato commented on #25
I'm currently looking in .homebridge in the user home directory or in the /var/lib/homebridge when you run the homebridge UX. Which setup are you running?

[2021-02-21 17:49] hoffmanncedric commented on #25
yes my homebridge is on a docker on my synology nas, with last setup on homebridge for docker

[2021-02-21 17:51] ilcato commented on #25
Are you able to tell the path as seen by the homebridge process?

[2021-02-21 17:53] hoffmanncedric commented on #25
yes its here :
![image](https://user-images.githubusercontent.com/26899103/108633718-0a239880-7476-11eb-832a-861e267bd2eb.png)

[2021-02-21 18:40] ilcato commented on #25
Are you using this: https://github.com/oznu/docker-homebridge ?

[2021-02-21 19:02] ilcato commented on #25
@hoffmanncedric, can you try with 1.1.2 ? Leave ca.cer where you put it.

[2021-02-21 19:13] hoffmanncedric commented on #25
![image](https://user-images.githubusercontent.com/26899103/108635719-2f69d400-7481-11eb-9cec-5231190d5e66.png)

[2021-02-21 20:26] vkamenski commented on #25
@ilcato where should i put certificate for raspberry pi installation?

[2021-02-21 20:46] hoffmanncedric commented on #25
update on 1.1.2
![image](https://user-images.githubusercontent.com/26899103/108638195-4662f300-748e-11eb-90b0-67b371d0b953.png)
i thinks its a warning

[2021-02-21 20:54] hoffmanncedric commented on #25
![image](https://user-images.githubusercontent.com/26899103/108638388-4f07f900-748f-11eb-8e14-179617141fd6.png)
i will pass on http :-)

[2021-02-21 22:29] galuszka commented on #25
If you use https (with cer file uploaded to homebridge) it will not accept access using an IP address because only hc-0000xxxx.local is listed in certificate subject alternative name. But when homebridge is running in docker container (on raspberry pi) the .local addresses are not resolved. Non-secure (http) access is not working either. It is always complaining about the certificate like mentione

[2021-02-22 07:22] ilcato commented on #25
For http use host param and delete url param.

[2021-02-22 20:25] vkamenski commented on #25
I'm using raspberry image, https, and url param. My ca.cer file is in "/var/lib/homebridge/" folder. I'm still getting

[code]

[2021-02-27 06:39] uteitler opened #27 "[Fibaro HC3] Error getting data from Home Center: Error: Not Implemented"
Using Docker on a QNAP with the following json config, and get the error as per bottom of log

{
    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3D:E3:CE:30",
        "port": 51826,
        "pin": "031-45-154"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": 8581,
            "platform": "config"
        },

[2021-02-27 06:41] uteitler commented on #27
Sorry .. ignore .. Rookie error .. had / on the end of the URL ..

[2021-02-27 06:41] #27 closed

[2021-02-27 13:01] dazcro opened #28 "Homebridge v1.3.1 issue (Security System Target State)"
Homebridge v1.3.1 has an issue trying to read the Security System Target State.

Please see debug logs below.

[2/27/2021, 11:57:22 PM] [homebridge-fibaro-hc3] This plugin generated a warning from the characteristic 'Security System Target State': characteristic value expected number and received undefined. See https://git.io/JtMGR for more info.
[2/27/2021, 11:57:22 PM] [homebridge-fibaro-hc3] Er

[2021-03-03 13:05] danholt-international opened #29 "No valves and incorrect status"
After migration from HCL to a HC3 and its homebridge plugin I ran permanently into issues:

1. Status of lights shown in HomeApp and Fibaro Web app differ. In most cases a light that is set to ON in Home App will be shown as OFF again after some seconds. But light is on in real and Fibaro web app shows correctly.
2. Fibaro valves are completely missing... only the second instance (temperature) wil

[2021-03-04 09:18] danholt-international opened #30 "No valves and inconsistent status indication of lights"
<img width="493" alt="Bildschirmfoto 2021-03-04 um 12 03 15" src="https://user-images.githubusercontent.com/52234886/109954455-a43ed880-7ce1-11eb-8f83-8dbd9e4665a7.png">
<img width="213" alt="Bildschirmfoto 2021-03-04 um 11 55 40" src="https://user-images.githubusercontent.com/52234886/109954046-2084ec00-7ce1-11eb-80dc-6f92c9ea2858.png">
<img width="323" alt="Bildschirmfoto 2021-03-04 um 11 55 55"

[2021-03-04 11:08] #29 closed

[2021-03-05 17:41] danholt-international opened #31 "Wrong status representation for dimmers"
All dimmers that are set ON, but dimmed in a range from 1%-99% are shown as OFF. Only when dimmers are set to 100% intensity, device tiles shown ON status.
As this error already is visible in the homebridge web UI devices section, this error persist in Home app too.
<img width="248" alt="Bildschirmfoto 2021-03-05 um 18 39 18" src="https://user-images.githubusercontent.com/52234886/110152736-607fc8

[2021-03-09 08:36] danholt-international opened #32 "Support for RGBW Controller 2"
Please add or fix support for Fibaro RGBW Controller 2

Currently only ON / OFF works. Choosing Color won`t work and generates an error in HomeKit telling "no answer" from device.
As well dimming doesn't work and also ends up in the message "no answer" from device.

[2021-03-19 21:18] ilcato commented on #31
@danholt-international try version 1.1.6

[2021-03-19 21:18] #31 closed

[2021-03-20 11:58] danholt-international commented on #30
Version 1.1.6 still no support for Fobaro Heat Controller

[2021-03-20 12:00] danholt-international commented on #31
Hi!

Dimmers are working again.

Unfortunately still missing:
Support for Heat Controller valves
Support of RGBW Controller 2

Cheers

[2021-03-22 17:49] ilcato commented on #32
Working on it

[2021-03-23 00:05] afendikov opened #33 "Carbon Monoxide NaN error"
Hello,

I have Fibaro CO sensor and here is error in log in Homebridge ( using now 1.1.6, but error appears last 3 versions of plugin ):

[3/23/2021, 1:47:13 AM] [homebridge-fibaro-hc3] This plugin generated a warning from the characteristic 'Carbon Monoxide Peak Level': characteristic value expected valid finite number and received "NaN" (number). See https://git.io/JtMGR for more info.

[3/23/20

[2021-03-23 21:49] Sinoples opened #34 "fibaro heat controller"
Hi Ilcato,

Can you uncomment the following code lines ? I am tested them with my FIBARO heat controller and it's OK, the APIs FIBARO are working.

https://github.com/ilcato/homebridge-fibaro-hc3/blob/f47fe7e5d3d07f57acb0b2a808a799cc03e53d39/src/shadows.ts#L236
To
https://github.com/ilcato/homebridge-fibaro-hc3/blob/f47fe7e5d3d07f57acb0b2a808a799cc03e53d39/src/shadows.ts#L250

Thanks you a lot :)

[2021-03-24 14:19] ilcato commented on #34
Will do in the next release. Stay tuned.

[2021-03-24 14:19] #34 closed

[2021-03-24 19:45] ilcato commented on #32
@danholt-international can you test version 1.1.7 ?

[2021-03-24 19:47] ilcato commented on #22
@vkamenski can you test version 1.1.7 ?

[2021-03-24 19:47] ilcato commented on #34
@Sinoples can you test version 1.1.7 ?

[2021-03-25 06:44] vkamenski commented on #22
@ilcato Hi, yes it works. Thank you for your work!

[2021-03-25 08:01] danholt-international commented on #32
Hello!

Great work! Version 1.1.7 brings back HeatController and RGBW Controller support is fine.
Dimming works, Color selection works fine now.

Thanks a lot!
I will spend some coffee soon!

Regards

Daniel

[2021-03-25 08:01] #22 closed

[2021-03-25 08:10] danholt-international commented on #32
5 Coffees on the way…

Cheers!
Daniel

[2021-03-25 08:35] #32 closed

[2021-03-25 08:35] #30 closed

[2021-03-26 00:26] KJTamas opened #36 "Support for Global variables not only switch"
Hi @ilcato ,

It would be great, if Global variables not act only as a switch, but also as a dimmer. For example 1 byte, 0-255, 0 means false, greater then 0 true, if want to use as a switch, and 0 means off, and 1-255 means  as  a dimmer value. Of course this must be programmed in HC3.

thx

[2021-03-26 12:14] ilcato commented on #28
@dazcro, can you update to last version and check if this is still an issue?

[2021-03-26 12:14] ilcato commented on #33
@afendikov, can you update to last version and check if this is still an issue?

[2021-03-26 12:18] ilcato commented on #25
@galuszka, I confirm that no docker support is present for this feature. But you can use http by using the host param and removing the url param as it was before this change.

[2021-03-26 12:19] ilcato commented on #25
@vkamenski, are you able to resolve HC3 name from the raspberry?

[2021-03-26 12:20] ilcato commented on #25
@hoffmanncedric, as @galuszka said this doesn't work on Docker. Sorry.

[2021-03-26 12:30] dazcro commented on #28
Hi, It still seems to be an issue: see below.

HomeBridge: 1.3.4
homebridge-fibaro-hc3: v1.1.7

<img width="1233" alt="Screen Shot 2021-03-26 at 11 28 59 pm" src="https://user-images.githubusercontent.com/25233409/112631566-29ee1800-8e8b-11eb-90b5-2cccd2c5ef03.png">

[2021-03-26 13:26] ilcato commented on #20
@vkamenski can you show me the General and Advanced tab in home center for this device?

[2021-03-26 13:28] ilcato commented on #1
@dondiego9999 , @vvsokolov , @dior4ik , @KostuaD can you test latest version of the plugin for this issue ?

[2021-03-26 13:30] ilcato commented on #11
@lionep, any news?

[2021-03-26 13:31] ilcato commented on #18
Normally after clearing the cache the device are reconstructed from scratch. If you use the homebridge UI you can selectively remove from cache a single device.

[2021-03-26 13:31] #18 closed

[2021-03-26 20:27] ilcato commented on #28
@dazcro, can you test 1.1.8 ?

[2021-03-26 20:29] #11 closed

[2021-03-26 22:08] dazcro commented on #28
Thanks thats all fixed it, I just wanted to ask, is there anything special i need to do to toggle the alarm settings from my home app on iphone, it looks like homebridge can toggle the fibaro alarm system, but when i do it from the home app, its unresponsive.

[2021-03-26 22:10] #28 closed

[2021-03-27 19:16] KostuaD commented on #1
Hello ilcato!
In new version of plugin test passed.
Fibaro RGBW Controller2 work correctly. Brightness, color, switch on and off all worked.
Thank you!

[2021-03-27 20:29] #1 closed

[2021-03-27 20:41] ilcato commented on #2
@vvsokolov @flipoidix can you test version 1.1.9 ?

[2021-03-27 20:42] ilcato commented on #21
@vkamenski can you test version 1.1.9 ?

[2021-03-27 20:44] #25 closed

[2021-03-27 20:56] advantio-techsec-team commented on #2
Hello! I think there is some bug in the new thermostat feature. When I try to change its status in HomeKit or Hoobs web UI, HC3 (5.070.42 firmware) becomes unresponsive. I can login to the admin panel, but can not control any device until I reboot it. And CPU load becomes high.
<img width="1323" alt="2021-03-27 22-22-14" src="https://user-images.githubusercontent.com/59699729/112734632-a1857b00-8f

[2021-03-27 21:04] ilcato commented on #2
@advantio-techsec-team which thermostat do you have?

[2021-03-27 21:08] dior4ik commented on #2
@ilcato hi! The previous comment was mine, but I wrote it from the wrong account. I'm using Fibaro Heat Controller

[2021-03-27 21:34] ilcato commented on #2
@dior4ik Fibaro Heat Controller is working for me, without problem. Try to remove it from cached accessories.

[2021-03-28 10:07] ilcato commented on #19
@mrarzt, see version 1.1.10

[2021-03-28 10:54] vkamenski commented on #4
Hi,

Still getting the same error:
[28/03/2021, 13:52:13] [FibaroHC3] Setting value to device:  212  parameter: Lock Target State
[28/03/2021, 13:52:13] [FibaroHC3] Command:  secure, value: 0, to: 212
[28/03/2021, 13:52:13] [FibaroHC3] There was a problem setting value to Lock:  212

[2021-03-28 11:01] vkamenski commented on #21
@ilcato v1.1.10 I can't find my heatit device in the list of accessories

[2021-03-28 11:18] dazcro commented on #4
This is now working for Yale Lock! Thanks

[2021-03-28 11:29] vkamenski commented on #4
I have an issue with danalock v3 zwave

[2021-03-28 15:10] afendikov commented on #33
@ilcato , yes, still error in 1.1.10

[2021-03-28 18:00] ilcato commented on #21
@vkamenski is the device type exactly "com.fibaro.hvacSystem" ? or "com.fibaro.hvacsystem"

[2021-03-28 18:17] ilcato commented on #4
@vkamenski try install the beta version homebridge-fibaro-hc3@beta

[2021-03-28 18:28] ilcato commented on #33
@afendikov, can you call the Fibaro Api in order to have the property object of this device ? Unfortunately I do not have this kind of device.

[2021-03-28 18:44] afendikov commented on #33
Hello,

Here it is:

{

   - id: 51,
   - name: "co bedroom sensor",
   - roomID: 225,
   - view: [ ],
   - type: "com.fibaro.FGCD001",
   - baseType: "com.fibaro.coDetector",
   - enabled: true,
   - visible: true,
   - isPlugin: false,
   - parentId: 50,
   - viewXml: false,
   - configXml: false,
   - interfaces:
   [
      - "battery",
      - "fibaroBreach",
      - "fibaroFirmwareUpdate",

[2021-03-28 19:10] ilcato commented on #33
@afendikov can you show me the panel in Home Center

[2021-03-28 19:18] ilcato commented on #33
@afendikov can you test: homebridge-fibaro-hc3@0.1.120-beta.2

[2021-03-28 19:59] afendikov commented on #33
@ilcato, beta works OK

Thank you!

[3/28/2021, 10:57:06 PM] [FibaroHC3] Getting value from device:  51  parameter: Carbon Monoxide Detected
[3/28/2021, 10:57:06 PM] [FibaroHC3] Getting value from device:  51  parameter: Carbon Monoxide Level
[3/28/2021, 10:57:06 PM] [FibaroHC3] Getting value from device:  51  parameter: Carbon Monoxide Peak Level
[3/28/2021, 10:57:06 PM] [FibaroHC3] Getting value

[2021-03-28 20:22] ilcato commented on #33
Will publish it tomorrow.

[2021-03-28 20:22] #33 closed

[2021-03-28 20:27] ilcato commented on #21
@vkamenski can you test homebridge-fibaro-hc3@1.1.11-beta.3

[2021-03-29 09:21] KJTamas opened #40 "Global variable switch error"
Hi @ilcato ,

I updated my fibaro hc3 plugins to 1.1.10, and i get an error:

[3/29/2021, 11:16:01 AM] [FibaroHC3] Error fetching updates:  TypeError: Cannot read property 'value' of null
    at GetFunctions.getBool (/homebridge/node_modules/homebridge-fibaro-hc3/src/getFunctions.ts:83:22)
    at Poller.<anonymous> (/homebridge/node_modules/homebridge-fibaro-hc3/src/pollerupdate.ts:69:33)
    at G

[2021-03-29 10:18] ilcato commented on #40
Fixed, it will be available in version 1.1.11

[2021-03-29 14:14] danholt-international opened #41 "CO - Sensor: Carbon Monoxide Peak Level bug"
This plugin generated a warning from the characteristic 'Carbon Monoxide Peak Level': characteristic value expected valid finite number and received "NaN" (number). See https://git.io/JtMGR for more info.

[2021-03-29 15:46] flipoidix commented on #2
Hi, I'm using HC3 5.050.13 and v 1.1.10 but no thermostats appear on hb. ( I'm using linked devices as thermostats as well as quick apps ( of type thermostat auto ). does this only support real devices?

[2021-03-29 16:01] ilcato commented on #41
@danholt-international, it will be solved in the next version.

Install this beta if you want to try it now:
homebridge-fibaro-hc3@1.1.11-beta.2

[2021-03-29 16:02] ilcato commented on #2
No @flipoidix only real devices are supported.

[2021-03-29 16:05] flipoidix commented on #2
Any chance of using the virtual or linked ones? the quick app switches work perfectly for example is it possible to make it work with the quick app thermostats as well?

[2021-03-29 16:11] ilcato commented on #2
Create an issue for an enhancement.

[2021-03-29 16:12] flipoidix commented on #2
ok thanks

[2021-03-29 16:13] flipoidix opened #42 "enhancement : Support for virtual thermostats ( QuickApps and Linked devices )"
Hi,

Any chance of supporting virtual thermostats ( QuickApps and Linked devices ) ?

Thank you

[2021-03-30 06:42] danholt-international commented on #41
Hello!

Looks like the error has gone with the beta:

[30/03/2021, 08:40:59] [FibaroHC3] Getting value from device:  499  parameter: Carbon Monoxide Level
[30/03/2021, 08:40:59] [FibaroHC3] Getting value from device:  499  parameter: Carbon Monoxide Peak Level
[30/03/2021, 08:40:59] [FibaroHC3] Getting value from device:  499  parameter: Charging State
[30/03/2021, 08:40:59] [FibaroHC3] Getting va

[2021-03-30 09:14] ilcato commented on #41
1.1.11 published

[2021-03-30 09:15] #41 closed

[2021-03-30 09:15] ilcato commented on #40
1.1.11 published. @KJTamas can you check the issue?

[2021-03-30 09:16] ilcato commented on #21
1.1.1 published can you test your "com.fibaro.hvacSystem"

[2021-03-30 09:16] #19 closed

[2021-03-30 09:16] #2 closed

[2021-03-30 15:05] KJTamas commented on #40
Hi,

Sorry, but not working…

3/30/2021, 4:13:31 PM] [FibaroHC3] Setting value to device:  Test  parameter: On
[3/30/2021, 4:13:32 PM] [FibaroHC3] There was a problem sending command  pressButton to G

In Home app i press Test button, (default = ON),  button status turn to Off, in log appears the action, and button status change back to on. In HC3 i can't see any event.

Br,

Tamas

[2021-03-31 05:59] ilcato commented on #40
@KJTamas can you test 1.1.12?

[2021-03-31 08:31] KJTamas commented on #40
Hi,

It’s all right! It’s working.

thx

[2021-03-31 08:33] #40 closed

[2021-03-31 20:52] vkamenski commented on #21
com.fibaro.hvacSystem

[2021-03-31 21:00] vkamenski commented on #21
it works! thank you

[2021-03-31 21:20] #21 closed

[2021-04-05 08:38] ilcato commented on #36
@KJTamas Working on it

[2021-04-05 08:40] ilcato commented on #36
@KJTamas, name your Global Variables acting as dimmers with a "dim-" prefix. I will remove it in HomeKit.

[2021-04-05 12:23] ilcato commented on #36
@KJTamas can you test beta version:
`npm install homebridge-fibaro-hc3@beta`

[2021-04-05 20:35] vkamenski commented on #20
![Capture1](https://user-images.githubusercontent.com/607015/113623830-91644e80-9667-11eb-80c8-eb9e2179886e.JPG)
![Capture](https://user-images.githubusercontent.com/607015/113623843-945f3f00-9667-11eb-8c4e-043f24edcc22.JPG)

[2021-04-05 20:39] vkamenski commented on #4
well, I'll better wait for the next release :)

[2021-04-06 01:52] KJTamas commented on #36
Hi,

It’ working!

One thing. I don’t know, it’s a bug, or feature. If i open the accessories, and pull the slider e.g. 50%, in HC3 the variable values = 50. Then i close the accessories panel in HB, and turn off (one klick HC3 variable = 0), and then turn on, the HC3 variable get 100 not the prev 50. Original accessories panel remember the prev value.

Tamas

[2021-04-06 06:32] ilcato commented on #4
What exactly is your issue?

[2021-04-06 07:17] ilcato commented on #36
Since I use the same variable for both the brightness and on/off status I cannot resume the previous brightness level.
Will publish this version.

[2021-04-06 07:17] #36 closed

[2021-04-06 07:28] ilcato commented on #20
@vkamenski can you send me the json object of the device rest api?

[2021-04-07 08:19] EliasADN opened #45 "No automatic reconnection"
Hello:

I have a HC3L connected by WIFI, when the connection is lost against the HC3L homebridge it does not reconnect automatically.
In the logs I can see the following errors for each device of the HC3L:
`[4/7/2021, 9:25:38 AM] [FibaroHC3] G1 - There was a problem getting value from:  42 - Err: Error: connect EHOSTUNREACH "[IP]":80`
Restarting solves the problem

Thanks!

[2021-04-07 08:27] ilcato commented on #45
@EliasADN what are you restarting ? Homebridge or Home Center?

[2021-04-07 08:35] EliasADN commented on #45
Homebridge.
I'm using a homebridge docker with homebridge-config-ui-x, restarting the homebridge solves the problem.

[2021-04-08 12:52] ilcato commented on #45
@EliasADN there's no fixed connection between homebridge and home center, for every request to the home center a new connection is made.
You can see. the EHOSTUNREACH when the home center is not reachable via IP.

Is the homebridge machine also connected via WiFi?

[2021-04-09 10:50] danholt-international opened #46 "Slats of blinds not set"
When using a homekit automation the (in home.app) set tilt angle will not be set for the slats.
The blind itself is moving to the right position (open, closed or any position in-between) but slats do not turn.

But manually dragging the slider for the slats in home.app works fine.
So I am not sure if this issue is caused by the hc3 plugin.

[2021-04-09 13:55] ilcato commented on #46
@danholt-international, I don't think it's related to the plugin. Unfortunately I'm not able to test the case in my environment
since I do not use such a device.

[2021-04-16 18:26] mkz212 commented on #20
Dimmer 2 (com.fibaro.FGD212) also is displayed as on/off. It should have a slicer control.

[2021-04-16 18:37] mkz212 commented on #20
"type":"com.fibaro.FGD212",
"baseType":"com.fibaro.multilevelSwitch",

[2021-04-16 19:17] ilcato commented on #20
@mkz212 what's the value of `deviceControlType` ?

[2021-04-16 20:11] mkz212 commented on #20
23

[2021-04-16 20:22] ilcato commented on #20
@mkz212 is it formatted as a string or as a number ?

[2021-04-16 20:28] mkz212 commented on #20
String. "deviceControlType":"23"

[2021-04-16 20:47] ilcato commented on #20
ok, that's the problem. Will fix it.

[2021-04-16 21:35] ilcato commented on #20
@vkamenski @mkz212 can you test version 1.1.17 ?

[2021-04-17 06:09] mkz212 commented on #20
Now kind of works. But I had to clean the cache.

The worst thing is that when I move the slider, the light blinks. For example, when I do from 2% to 100% it should only lighten up but it makes it brighter, darker, brighter.

And sometimes he doesn't listen. I change the value, the slider goes up and then goes back to the old position.

[2021-04-17 06:22] mkz212 commented on #20
handling with scenes also has problems. I did two scenes. one set the light to 80%, the other set to 5% and the same flashes and jamming light as if it only reacted after a while.

[2021-04-17 08:46] ilcato commented on #20
@mkz212, please open different issues for those problems (it seems that they are related to a bug in Home Center on the refreshState, investigating). Closing this one.

[2021-04-17 08:46] #20 closed

[2021-04-17 09:43] mkz212 opened #48 "Dimmer 2 problem."
Dimmer 2.
"type":"com.fibaro.FGD212",
"baseType":"com.fibaro.multilevelSwitch",
"deviceControlType":"23"

When I move the slider, the light blinks. For example, when I do from 2% to 100% it should only lighten up but it makes it brighter, darker, brighter.

And sometimes he doesn't listen. I change the value, the slider goes up and then goes back to the old position.

In other issue You say: „it s

[2021-04-18 18:13] ilcato commented on #48
@mkz212, can you test beta version with this command:
`sudo npm install -g homebridge-fibaro-home-center@beta`
and check if the issue is solved?
Thanks

[2021-04-18 21:18] mkz212 commented on #48
Still blinking.

[2021-04-18 21:39] ilcato commented on #48
@mkz212 can you describe a specific way to reproduce it?

[2021-04-18 21:46] mkz212 commented on #48
In Apple Home app, when I move the slider, the light blinks. For example, when I do from 2% to 100% it should only lighten up but it makes it brighter, darker, brighter. Same moving down. And sometimes few seconds for reaction.

In Fibaro app for iOS working ok.

In Homebridge there is no blinking, only sometimes few second for reaction.

[2021-04-18 21:50] mkz212 commented on #48
And another strange thing. I turned on the light in Homebridge, then I opened the Apple Home application, for a moment it showed that the light is off and then the application itself turned off the light.

[2021-04-19 01:40] baduxiyang opened #50 "When HC2 uses global dimmer, it must use administrator: administrator, can it be improved?"
When HC2 uses global dimmer, it must use administrator: administrator, can it be improved?

[2021-04-19 06:21] mkz212 commented on #48
And my Fibaro Switch now show two switches per device? Before was ok.

[2021-04-19 09:53] EliasADN commented on #45
Yes, via WiFi. I have a lot of problems with HC3L and WiFi.
I have found that it ends up reconnecting after 5 to 10 minutes.

[2021-04-19 10:15] ilcato commented on #48
@mkz212 can you try to disable polling by setting `pollerperiod` to `"3"` and check the behaviour ?

[2021-04-19 10:16] ilcato commented on #48
Can you send the json data of such a device?

[2021-04-19 10:20] ilcato commented on #45
What happens if you do not restart homebridge ? The error log you see are consistent with the situation of not having the HCL3 a Wifi connection, but after the HCL3 reconnect to Wifi homebridge should be able to execute the requests.

[2021-04-19 11:44] mkz212 commented on #48
when i set "pollerperiod": 1 there is no blinking :) do maybe make "pollerperiod": 1 default? :)

[2021-04-19 11:55] mkz212 commented on #48
For those devices in which the switches are displayed twice. I check and in homebridge-fibaro-home-center v1.1.17  is the same. But only some devices type on/off are displayed twice (not all).

This device is ok:

`{"id":152,"name":"Kuchnia","roomID":9,"type":"com.fibaro.binarySwitch","baseType":"com.fibaro.actor","enabled":true,"visible":true,"isPlugin":false,"parentId":149,"remoteGatewayId":0,"v

[2021-04-19 12:00] ilcato commented on #48
pollerperiod = n means that every n seconds homebridge checks for updates coming from home center. If you do not have too many devices 1s is ok.

[2021-04-19 12:03] ilcato commented on #48
Both the duplicated device works or only one? Maybe you have a corrupted cached accessory. If you have homebridge ui you can try to delete from the accessories cache the specific devices otherwise you can remove the whole accessories folder but in that case you will lose all the automations you have created.

[2021-04-19 12:14] mkz212 commented on #48
Only one works. Eg. In "Kuchnia wyspa" Left switch is on/off (wrong, not working switch) , right is multilevel switch and this is correct.

Ok deleting cache solved problem :)

[2021-04-19 12:21] mkz212 commented on #48
Yes. Thank You for help. :)

[2021-04-19 18:08] mkz212 commented on #48
Sorry. I said too quickly that it works properly. Even after setting the pollerperiod to 3, it still flashes usind multilevel switch (Fibaro Dimmer 2)

[2021-04-19 18:10] mkz212 commented on #48
I also checked in the second Home Center Lite and the same. HCL v4.610.

[2021-04-19 18:49] ilcato commented on #48
@mkz212 weren’t you using a 1s poller prior?

[2021-04-19 19:01] mkz212 commented on #48
I check with 1s, 3s and even 10s.

[2021-04-24 09:46] ilcato commented on #48
@mkz212, I'm using bet version since a week and I have no problem with setting dimmers via home app. Publishing it.

[2021-04-24 09:46] #48 closed

[2021-04-25 12:53] ilcato commented on #45
@EliasADN any feedback?

[2021-04-27 13:18] math05 commented on #42
does this mean that any QA will be supported? I'm missingsupport for QA where simple buttons are exposed to HomeKit.

[2021-04-27 13:55] ilcato commented on #42
@math05, it can be implemented in the same way as virtual devices.

[2021-04-27 20:13] ilcato commented on #42
@math05, I just created a QA based on binary button and it is already supported by the plugin.

[2021-04-28 12:57] EliasADN commented on #45
No, it has not happened again and I cannot reproduce it.

[2021-04-28 13:04] #45 closed

[2021-05-05 23:06] h3roin opened #52 "com.fibaro.binarySwitch in homebridge shows like Lightbulb"
com.fibaro.binarySwitch showed in home app as a "lightbulb" type of device, what makes some misunderstanding with manage home, previously on HC2 plugin it was pulled correctly with "switch" type to homebridge.
![image](https://user-images.githubusercontent.com/35816235/117220330-ade2da80-ae0f-11eb-8b8f-ff66a329d0a0.png)

[2021-05-06 09:22] h3roin commented on #52
`case 'com.fibaro.binarySwitch':
          case 'com.fibaro.developer.bxs.virtualBinarySwitch':
          case 'com.fibaro.satelOutput':
          case 'com.fibaro.FGWDS221':
            switch (parseInt(this.device.properties.deviceControlType)) {
              case 2: // Lighting
              case 5: // Bedside Lamp
              case 7: // Wall Lamp
                service = this.platform.Serv

[2021-05-14 10:02] redeemer666 opened #53 ""Nice" garage door not recognized"
Hi ilCato,

just switched to the new plugin, and appeared an issue that I had before on Home Center 2:

https://github.com/ilcato/homebridge-Fibaro-HC2/issues/200

Can you add it on the new one? Thanks

[2021-05-14 13:06] redeemer666 commented on #53
Quick update, workaround still works, it is changed the file you have to modify though

cd /usr/local/lib/node_modules/homebridge-fibaro-home-center/dist/
sudo nano fibaroAccessory.js (instead of Shadow.js)

[2021-05-14 13:10] redeemer666 opened #54 "Battery status not reported on devices"
Hi Again,

Another thing I have noticed has been "lost" after the switch: all batteries powered devices reports as "0%" on battery level. On the old plugin the battery status showed correctly.

Not a big hassle, just to pinpoint the issue

[2021-05-30 10:41] Cameleon99 opened #55 "HC2 no longer shows VD as accessories"
Hi Ilcato,

Used an old version of the plugin and Homebridge for a long time but recently decided to update everything so that I can use the Homebridge GUI. Done a new install on latest Homebridge RPi distro and installed the current plugin. Everything works as expected other than VD's I have dont come across as switches. Has the behaviour changed sometime? Or have I missed something in the setup.

[2021-06-11 14:20] tuxtof opened #56 "HC3 nice device not recognized"
Hi

I just install your module in homebridge to connect to my HC3

I have 18 nice devices and two quick app, only the quick app are discover in the home app

<img width="1198" alt="image" src="https://user-images.githubusercontent.com/180613/121701002-c27e5680-cad0-11eb-9cf4-94982824c4e3.png">

34 35 are recognized
37 38 not recognized

is it normal

my install

Homebridge v1.3.4
homebridge-fibaro

[2021-06-11 21:40] josecarlosmoimaz commented on #55
same here

[2021-06-14 12:31] Berti321 opened #58 "Error during syncronization"
Hi I installed the homebridge today and I always get this error. I have copied the certificate to the folder. What am I doing wrong? I would be grateful for a tip

I use Docker

---------------------------------------------------------------------------------

Starting to advertise 'Homebridge CD99 7A05' using bonjour-hap backend!
[6/14/2021, 2:17:06 PM] Homebridge v1.3.4 (Homebridge CD99) is runn

[2021-07-15 19:43] vvsokolov opened #59 "Thermostats not works in HC2 4.620 (latest)"
Thermostats not works in HC2 4.620 (latest)
Any thermostat changes in the Home-app are not reflected in HC2 4.620 (latest version) and vice versa.
Yes, I did a full reconfiguration of the thermostat after installing the latest version.

[2021-07-28 06:44] RikBast opened #60 "Error getting data from Home Center:"
Hi,

I am getting an error getting data from a Home Center 2, which is on v4.620. I tried to correct by not selecting VD's, but
that's not the issue. What could be wrong here?

thx,
Rik

(Homebridge Fibaro Hc2 plug-in works fine with my config)
-------------------------------------------------------------------------------------------------------------------------------------------

Error getting

[2021-08-01 14:40] markand80 commented on #55
I experience the same problem. Fresh install of Raspberry Pi OS Lite (May 7th 2021 version, Kernel version: 5.10) on RPi Mod 3 with HB for Raspberry PiOS. HC2 4.600. Would be great to have this resolved as Virtual Devices are a great way to wrap already existing  HC2 scenes, avoiding you to have to recreate them in Apple Home to be able to use Siri activation.

[2021-08-04 07:52] ccccccc94 opened #61 "Homekit cannot support some quick app"
Homekit cannot support some quick app types:

"type": "com.fibaro.hvacSystemAuto",
"type": "com.fibaro.hvacSystemCool",
"type": "com.fibaro.hvacSystemHeat",

We look forward to these features！

[2021-09-08 08:59] vvsokolov commented on #59
@ilcato , could you please say something about possible terms of fixing it ?

[2021-09-22 12:14] naspinec commented on #54
Hi,

I have the same effect. Is it possible to have an estimate date of resolution?

Thanks à lot for the job.

[2021-09-24 06:20] redeemer666 opened #63 "Contact sensors not reporting correctly on home until restarted"
Hi ilcato,

This could be not an issue directly related to your plugin, but it looks like sometimes the status of some sensors does not update correctly in Home app unless I close and reopen it. Switching rooms not solve the issue.

Can you please investigate, when you have time of course (or someone else using this plugin), so I can pin point the issue and report the thing to Homebridge team or A

[2021-10-22 23:11] amatt09 opened #64 "Fibaro plug not supported"
I have three fibaro brand plugs in my bedroom, they do not show up on the Home app on iOS or in the logs of homebridge. all of my other non fibaro plugs show and work fine.

Fibaro HC2
Latest homebridge version
all plugins are up to date.
using separate account on HC2 for homebridge (yes I have made sure the device is checked for access)

[2021-11-04 16:42] ewenjc commented on #60
Hi,
I'm having the same problem.  I also have an HC2 on v4.620.  I cleared the cache etc but that made no difference.  I've also switched from homebridge-fibaro-hc2 to homebridge-fibaro-home-center but both produce the same error "UnhandledPromiseRejectionWarning: Error: connect ECONNREFUSED".

I wish I could go back to v4.610 but I've added some devices since the upgrade so don't want to have to

[2021-11-04 17:18] ewenjc commented on #60
Just to add to the above.  Fibaro API is responding when I call "http://192.168.1.103/api/rooms" or "http://hc2-0***00.local/api/rooms".  For the plugin setup I get the error above with the IP address only.  When I tried adding "http://hc2-0***00.local" to setup I got "Cannot connect to Fibaro Home Center. Check credentials, url/host or ca.cer file".  The credentials work when calling the API dire

[2021-11-04 17:29] ilcato commented on #60
@ewenjc, can you share. your config file (without credentials) ?

[2021-11-04 17:31] ilcato commented on #64
@amatt09, which version of the plugs do you have?

[2021-11-04 17:36] redeemer666 commented on #63
Hi @ilcato

Yeah it looks like an issue with home app, it appears on all my devices (maybe I have too many of them and it's just slow to update).

Thanks anyway for your support, as usual

[2021-11-04 17:55] ewenjc commented on #60
@ilcato,  My config file is;
{
    "bridge": {
        "name": "Homebridge EC6D",
        "username": "**********",
        "port": 51521,
        "pin": "**********",
        "advertiser": "ciao"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": 8581,
            "platform": "config"
        },
        {
            "name": "FibaroHC",

[2021-11-05 09:04] ilcato commented on #60
@ewenjc why are you using 192.168.1.132 ? In the previous message you said that 192.168.1.103 is working.

[2021-11-05 09:05] #63 closed

[2021-11-05 09:37] ewenjc commented on #60
@ilcato , Thank you so much for spotting that.  Can't believe I didn't (feeling a bit stupid).  The weird thing is that the IP is fixed and the HC2 plugin stopped working about the time of the HC2 4.620 upgrade but I hadn't touched the IP setting.  Kicking myself for copy pasting the IP address from the HC2 plugin to the HC plugin. Doh
Thank you.

[2021-11-05 21:01] demetrio812 commented on #60
Hello,
I'm getting the same error as @RikBast 👍

[code]

What should I do?

Thanks,
Dem

[2021-11-08 07:28] redeemer666 commented on #56
I think this is similar to my issue #53. @tuxtof if you feel brave, you can try the workaround, just make sure to choose the correct section. It worked on my garage door from “nice” brand

[2021-11-08 09:12] #56 closed

[2021-11-10 09:10] baduxiyang opened #65 "hoped"
It is hoped that the latest enhanced version functions can be used, for example, when global variables need to be configured by administrators

[2021-11-11 16:17] ilcato commented on #65
@baduxiyang, can you explain ?

[2021-11-15 07:47] SIKiwi opened #66 "Unhandled Promise Rejection Warning"
Hi
I have updated to homebridge Fibaro Home Center plugin and am getting the error below.
HC2 v4.62
Virtual Devices are not seen in homekit
Any ideas?
Thanks

(node:3296) UnhandledPromiseRejectionWarning: Error: This callback function has already been called by someone else; it can only be called one time.
    at C:\Users\OEM\AppData\Roaming\npm\node_modules\homebridge\node_modules\hap-nodejs\src\

[2021-11-22 19:35] ChrisBuHa opened #67 "Eurotronics Spirit flirs Thermostat"
Hi guys,

I'm quite new in the homebridge-fibaro-home-center world. Installed it two days ago and every thing is working fine besides of my heating thermostats from Eurotronics.

[22/11/2021, 20:22:41] [FibaroHC] Getting value from device:  278  parameter: Current Heating Cooling State
[22/11/2021, 20:22:41] [FibaroHC] Getting value from device:  278  parameter: Target Heating Cooling State
[22/11

[2021-12-05 08:10] ChrisBuHa commented on #59
@ilcato any updates on that bug? Would love to use my thermostats via homebridge.

Thank you very much for your great work! I absolutly enjoy to control all my zwave devices (switches, roller shutters) via home kit.  Only the thermostats do not work 😔

[2021-12-05 08:36] ilcato commented on #59
@vvsokolov , @ChrisBuHa: Working on a climate zones integration instead of single thermostats.

[2021-12-05 13:30] ilcato commented on #59
@vvsokolov , @ChrisBuHa: can you test the 1.2.2-beta.0 version ?

[2021-12-05 14:01] ChrisBuHa commented on #59
@ilcato Of cause I can do that. Just need a short introduction how to install the beta version. I am quite new and not very experienced.

[2021-12-05 20:19] vvsokolov commented on #59
Yes, of cause! Is it possible now by installing
npm install -g homebridge-fibaro-home-center@1a79331  ?

[2021-12-05 21:27] ilcato commented on #59
npm install -g homebridge-fibaro-home-center@beta

[2021-12-06 09:05] ChrisBuHa commented on #59
@ilcato

Installed the beta, but get the following error message during start up:

[06/12/2021, 09:54:36] Homebridge v1.3.8 (HAP v0.9.7) (Homebridge 7B44) is running on port 51590.
[06/12/2021, 09:54:38] [Hue] Lampe Hannah: set homekit supported transition configuration to {"configuration":[{"iid":11,"characteristic":1},{"iid":13,"characteristic":2}]}
[06/12/2021, 09:54:38] [Hue] Lampe Till: set h

[2021-12-06 09:47] ilcato commented on #59
@ChrisBuHa, which home center do you have, and which firmware version. I'm testing on a HC3 with the latest fw version.

[2021-12-06 09:53] ilcato commented on #60
@demetrio812 can you make a PR?

[2021-12-06 10:00] ilcato commented on #59
@ChrisBuHa,@vvsokolov are you able to check which REST API does the HC2 expose related to climate panels?

[2021-12-06 11:15] ChrisBuHa commented on #59
@ilcato: I am using a HC2 with firmware version 4.620. This is the latest available one.
I will try to find out the properties of the REST API of the climate panels.
Any clue how to do that? 😀

[2021-12-06 11:24] ChrisBuHa commented on #59
![Home Center 2Lite REST API  FIBARO Manuals](https://user-images.githubusercontent.com/94866088/144837797-8f7c6fed-2a65-473b-b00a-b17899df5559.png)

found the following on the fibaro web page. Is it that what you are looking for?

[2021-12-06 12:34] ilcato commented on #59
@ChrisBuHa, the documentation is incomplete. Try to connect with a browser to your HC2 with a url like this:

http://IP_HC2/docs or doc

From there you can call the API and see what it returns.

[2021-12-06 15:15] ChrisBuHa commented on #59
@ilcato: Connected to HC2 as reccomended by you. Please find below the information regarding heating panel API

![POST Heating](https://user-images.githubusercontent.com/94866088/144871389-f2189fd6-2bb2-477a-b808-4248b4bdd8cd.png)
![PUT heating ID](https://user-images.githubusercontent.com/94866088/144871394-19931d04-8157-4b84-9af2-91864c9a4b0f.png)
![Delete heating ID](https://user-images.githubu

[2021-12-06 15:22] ilcato commented on #59
@ChrisBuHa, can you install the updated beta? I implemented the old HC2 API, but I do not have an HC2.
Repeat the command:
`npm install -g homebridge-fibaro-home-center@beta`
Thanks.

[2021-12-06 15:47] ChrisBuHa commented on #59
@ilcato Do I have to install it via SSH or can I also you the terminal of the Homebridge UI?
Do I just need to use exactly the comand or do i have to start with sudo?

Sorry, as I mentioned I am not really experianced with it Just got my raspi 2 Weeks ago. But I am willing to learn ;-)

[2021-12-06 15:50] ilcato commented on #59
@ChrisBuHa, via ssh with the same method you used before. Use sudo. Restart homebridge after that.

[2021-12-06 18:02] ChrisBuHa commented on #59
@ilcato Have installed the beta as described by you. Still get an error message during start up.

[06/12/2021, 18:59:05] [FibaroHC] Error getting data from Home Center:  Error: Not Implemented
    at Request.callback (/usr/local/lib/node_modules/homebridge-fibaro-home-center/node_modules/superagent/src/node/index.js:879:15)
    at IncomingMessage.<anonymous> (/usr/local/lib/node_modules/homebridge

[2021-12-06 18:31] ilcato commented on #59
@ChrisBuHa, made another version. Can you test ?

[2021-12-06 19:19] ChrisBuHa commented on #59
@ilcato done. now the homebridge starts up correctly. For three of my heating zones (6,10,81) I can find error messages in the log file.

![heating zones homecenter](https://user-images.githubusercontent.com/94866088/144908141-b7dd1d38-908f-4b73-8ba9-c955f30bd57c.png)
Fo the heating zones in gray I got the error messages. But of cause also for the other ones the target values are not correct. They

[2021-12-06 20:39] ilcato commented on #59
@ChrisBuHa, can you test calling the GET /panels/heating/{heatingID} for some of your panels ? Use the button TRY IT!

[2021-12-07 05:47] ChrisBuHa commented on #59
@ilcato:

**GET heating:**

[
  {
    "id": 4,
    "name": "Heizzone Herrenzimmer",
    "mode": "Schedule",
    "properties": {
      "handTemperature": 0,
      "handTimestamp": 0,
      "vacationTemperature": 0,
      "currentTemperature": 18
    }
  },
  {
    "id": 5,
    "name": "Heizzone Dachgeschoss",
    "mode": "Schedule",
    "properties": {
      "handTemperature": 0,
      "handTimesta

[2021-12-07 05:55] ChrisBuHa commented on #59
@ilcato: Tried your new beta,. HB started correctly, no error messages.

Now the HB shows for all heating zones 0°C.

![heating zones homecenter](https://user-images.githubusercontent.com/94866088/144974309-e590350c-09bb-40a6-aed2-4fb804466089.png)

[2021-12-07 06:50] ilcato commented on #59
@ChrisBuHa, ok the currentTemperature property is the one that I need! Give me a couple of hours...

[2021-12-07 08:03] ilcato commented on #59
@ChrisBuHa, can you test the new beta?

[2021-12-07 08:18] ChrisBuHa commented on #59
@ilcato I have installed latest beta.

![heating zones homecenter](https://user-images.githubusercontent.com/94866088/144991732-b1c57992-70a9-48af-8920-1d315126137a.png)

Now the temperatures are shown correctly.

But still have the following messages in the log.

[06/12/2021, 20:04:48] [FibaroHC] No value for Temperature.
[06/12/2021, 20:04:48] [FibaroHC] No value for Temperature.
[06/12/2021, 20

[2021-12-07 08:35] ilcato commented on #59
@ChrisBuHa, can you test the new beta?

[2021-12-07 11:58] ChrisBuHa commented on #59
@ilcato: tested your latest beta.

![heating zones homecenter](https://user-images.githubusercontent.com/94866088/145019997-b3e1182c-865f-4e7e-939f-ac661212ff98.png)

Now the temperatures of the heating zones are shown correctly and I can change them in the HomeKit app. After chaging, the predefinded temperature of the heating zone is overwritten with the manually defined value and the heating sch

[2021-12-07 14:55] ilcato commented on #59
This is the intended behaviour. The 2 hours period is configurable with the `thermostattimeout` parameter in config.json.

The `off`, `heat`, `cool` and `auto` option in the HomeKit UI are relative to the thermostat mode. The `auto` mode means switch between `heat` and `cool` based on the selected target temperature. In the case of the HC2 it is meaningless.

Same as before, I don't want to give a

[2021-12-07 15:02] #59 closed

[2021-12-07 15:02] ilcato commented on #67
See release 1.2.2

[2021-12-07 15:02] #67 closed

[2021-12-07 15:05] ilcato commented on #66
Virtual device are no more supported.

[2021-12-07 15:05] #66 closed

[2021-12-07 15:13] ilcato commented on #60
@RikBast, do you have the Logitech Harmony plugin?

[2021-12-07 15:18] ilcato commented on #60
@demetrio812, added into 1.2.3 release.

[2021-12-07 15:18] #60 closed

[2021-12-07 15:26] ilcato commented on #58
https not working with docker plugin implementation.
Please use `host` parameter and not `url`.
Or do not use docker.

[2021-12-07 15:26] #58 closed

[2021-12-07 15:33] ilcato commented on #54
@redeemer666, @naspinec I have several battery powered devices that report correctly the battery level on HC3. Which devices do you have? Are all presenting the problem?

[2021-12-07 15:37] ChrisBuHa commented on #59
Thanks for your explanation. OK now the function of `cool`, `heat` and `auto` are clear. But what is `off` intended to do for the heating zone? Can I deactivate the heating zone or heating schedule with it or ist it also meaningless for heating zones?

Please excuse my poor wording. Of cause you cannot change the UI of the widget. What I wanted to say is, that the value of the set temperatur and t

[2021-12-07 15:43] ilcato commented on #53
@redeemer666, it will be in release 2.3.3

[2021-12-07 15:43] #53 closed

[2021-12-07 15:47] ilcato commented on #52
@h3roin, can you show me the device configuration in HC? Which version of HC do you have?

[2021-12-07 17:16] ilcato commented on #54
@redeemer666, can you test the beta version?
With: `npm install -g homebridge-fibaro-home-center@beta`

[2021-12-07 17:22] redeemer666 commented on #54
Hi Again,

With your latest version (1.2.2) issue has been solved. Beta not needed, so thanks a lot for your kindness

[2021-12-07 17:25] ilcato commented on #54
ok.

[2021-12-07 17:25] #54 closed

[2021-12-07 17:26] #46 closed

[2021-12-07 20:19] ilcato commented on #55
@Cameleon99 @josecarlosmoimaz @markand80 can you test the beta version on an HC2 and see if the VD are working?
Use `sudo npm install -g homebridge-fibaro-home-center@beta`
Thanks

[2021-12-07 20:53] naspinec commented on #54
Hi ilcato.

Same for me, I use an hc2 and with the old plugin the battery level was correctly reported.

Regards.

[2021-12-08 10:47] RikBast commented on #60
No, I don't have Logitech harmony plugin

Van: "ilcato" ***@***.***>
Aan: "ilcato/homebridge-fibaro-home-center" ***@***.***>
Cc: "rik" ***@***.***>, "Mention" ***@***.***>
Verzonden: Dinsdag 7 december 2021 16:14:08
Onderwerp: Re: [ilcato/homebridge-fibaro-home-center] Error getting data from Home Center: (#60)

[ https://github.com/RikBast | @RikBast ] , do you have the Logitech Harmony plugin?

[2021-12-09 18:40] richardtuboly opened #70 "Error getting data from Home Center with version 1.2.2"
Hello,

after updating to the new version the plugin stopped working.
I don't see the panels/climate endpoint on the swagger/docs.

[09/12/2021, 19:32:21] [FibaroHC] Error getting data from Home Center:  Error: Not Implemented
    at Request.callback (/usr/local/lib/node_modules/homebridge-fibaro-home-center/node_modules/superagent/src/node/index.js:879:15)
    at IncomingMessage.<anonymous> (/usr

[2021-12-09 19:13] ilcato commented on #70
@richardtuboly, which home center do you have ? Can you share the first 4 characters of your serial number (should be HC2- or HC3- or something similar) ?

[2021-12-09 21:31] richardtuboly commented on #70
HCL (Home Center Lite)

[2021-12-09 21:48] ilcato commented on #70
@richardtuboly , can you update to version 1.2.3 ?

[2021-12-09 22:03] richardtuboly commented on #70
thank you! works perfectly now.

[2021-12-10 09:00] #70 closed

[2021-12-10 09:03] #42 closed

[2021-12-10 09:03] ilcato commented on #50
Not possible

[2021-12-10 09:03] #50 closed

[2021-12-10 09:04] ilcato commented on #65
Not possible

[2021-12-10 09:04] #65 closed

[2021-12-10 09:04] ilcato commented on #55
Put it in the latest release

[2021-12-10 09:04] #55 closed

[2021-12-10 09:05] #61 closed

[2021-12-10 11:00] RikBast commented on #60
Done. I will activate the plug-in this weekend and check if it works.

Van: "ilcato" ***@***.***>
Aan: "ilcato" ***@***.***>
Cc: "rik" ***@***.***>, "Mention" ***@***.***>
Verzonden: Donderdag 9 december 2021 22:49:26
Onderwerp: Re: [ilcato/homebridge-fibaro-home-center] Error getting data from Home Center: (#60)

[ https://github.com/RikBast | @RikBast ] , can you update to version 1.2.3 ?

—
You

[2021-12-11 13:09] jimbju opened #71 "Dimmer issue when controlling device from Homekit"
Hi,

Verisons:
Homebridge v1.3.8
homebridge-fibaro-home-center v1.2.3
iOS v15.1.1

I'm experiencing the same issue as in issue [#48](https://github.com/ilcato/homebridge-fibaro-home-center/issues/48), which has been closed.

I have a dimmer, which is working fine in the Fibaro app (web UI) and in the Homebridge app (controlling the dimmer from the "accessories" page works fine). However, if I adju

[2021-12-11 16:29] myp3uk-ekb opened #72 "Problem with HC3 5.090.17"
[12/11/2021, 5:24:19 PM] Error: This callback function has already been called by someone else; it can only be called one time.
    at /usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/util/once.ts:6:13
    at FibaroAccessory.getCharacteristicValue (/homebridge/node_modules/homebridge-fibaro-home-center/src/fibaroAccessory.ts:454:9)
    at StatusLowBattery.<anonymous> (/homebr

[2021-12-15 00:48] Damianod27 opened #73 "Issue in version 1.2.3"
The latest version 1.2.3 has led to the destruction of the Home Application. All my scenes and automations containing Fibaro devices have been removed. Fibaro is 90% of all my devices. All Fibaro devices that were grouped are now in one room. It will take me several evenings to restore it to its original state. I'm broken :-(

Homebridge Version 1.3.8

![2021-12-15 014021](https://user-images.gith

[2021-12-15 07:45] rafalantas opened #74 "only Fibaro light switches working after update 1.2.3"
it is weird issue.. I have multiple Fibaro device switches, plugs etc, temperature sensors etc.

But after the update I can only trigger light switches from Home App or from HB webpage. Logs are not showing anything

Reverted to 1.2.2 and everything is back working

[2021-12-15 08:23] ilcato commented on #74
@rafalantas can you test the beta version? `nom install -g homebridge-fibaro-home-center@beta`

[2021-12-15 08:46] rafalantas commented on #74
i have installed 1.2.4 beta
<img width="515" alt="Zrzut ekranu 2021-12-15 o 09 40 57" src="https://user-images.githubusercontent.com/12709608/146153211-ee45cedb-1bfd-467c-a5bd-c74f12699628.png">

restarted HB still the same :( normal Fibaro light switch are working fine. RGB modules or plug not

[2021-12-15 09:48] ilcato commented on #74
@rafalantas do you have virtual devices ?

[2021-12-15 11:02] ilcato commented on #74
@rafalantas can you install latest beta ?

[2021-12-15 11:40] rafalantas commented on #74
installed the same :( I found something in the logs

15/12/2021, 12:38:29] [FibaroHC] Error getting data from Home Center:  Error: Cannot add a Service with the same UUID '00000049-0000-1000-8000-0026BB765291' as another Service in this Accessory without also defining a unique 'subtype' property.
    at Accessory.addService (/usr/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/Accessor

[2021-12-15 11:41] rafalantas commented on #74
so installed beta 1 and rebooted HB

from Home App I could turn on switch but couldn't turn on RGB. Reverted back to 1.2.2 everything is OK

[2021-12-15 11:45] rafalantas commented on #74
let me check something ;)

[2021-12-15 13:10] ilcato commented on #73
@Damianod27 can you try reversing to v1.2.2 ?

[2021-12-15 13:18] ilcato commented on #74
@rafalantas can you install latest beta ?

[2021-12-15 13:21] Damianod27 commented on #73
Thank you for your reply.  Yes of course I went back to version 1.2.2 and everything is ok. I also always make a copy of the Micro SD card before updating.  Restoring a copy and reverting the plug-in to version 1.2.2 did not fix my Home application.  I sat till 5:00 am yesterday morning and recreated most of my house.

[2021-12-15 13:29] ilcato commented on #73
@Damianod27 , I'm very sorry. I'm looking for the bug in 1.2.3. It doesn't appear in my installation. Will come back to you as soon as it is solved.

[2021-12-15 13:32] Damianod27 commented on #73
You have nothing to apologize for.  These things happen.  I don't blame you.  Thank you for creating the plugin and keeping it alive.

[2021-12-15 13:37] rafalantas commented on #74
installed and looking good. I can control RGB and plugs and normal switches

[2021-12-15 13:38] ilcato commented on #74
@rafalantas, ok. will ask you another test in a few minutes If you are available.

[2021-12-15 13:39] rafalantas commented on #74
sure tell me what to install and I'll do that

[2021-12-15 13:45] ilcato commented on #74
@rafalantas can you install latest beta ?

[2021-12-15 13:46] ilcato commented on #73
@Damianod27 do you have virtual devices ? Are you on an HC2 ?

[2021-12-15 13:49] rafalantas commented on #74
not working again

[2021-12-15 13:50] ilcato commented on #74
ok, it's the virtual device logic. D you have an HC2?

[2021-12-15 13:54] rafalantas commented on #74
Yes I do have HC2 and few virtual devices

[2021-12-15 13:57] Damianod27 commented on #73
Yes I have HC2.  Software 4.6.  Yes, I have one virtual device.  It is used to restart HC2.![image](https://user-images.githubusercontent.com/79320859/146199478-92becdc0-9104-49e6-a08e-6c08db9bd45c.jpeg)

[2021-12-15 14:37] ilcato commented on #74
@rafalantas can you install latest beta ?
Check also, please, if the virtual devices are working in homebridge.
Thanks

[2021-12-15 18:26] rafalantas commented on #74
installed beta 4 the same not working RGB and plug ;(

[2021-12-15 21:23] ilcato commented on #74
@rafalantas can you test the new beta ?
Unfortunately I must remove VD support because cannot test it on an HC2.
In a near future I will ask you for help in testing the feature.

[2021-12-16 09:01] rafalantas commented on #74
@ilcato Beta 5 is OK :)

[2021-12-16 09:34] ilcato commented on #74
Ok, I just published version 1.2.4 final

[2021-12-16 09:34] ilcato commented on #74
Thanks

[2021-12-16 09:34] #74 closed

[2021-12-16 09:36] ilcato commented on #73
Version 1.2.4 should solve the problem. Thanks to @rafalantas for the testing support.

[2021-12-16 09:37] ilcato commented on #72
Version 1.2.4 should solve the problem.

[2021-12-16 09:37] ilcato commented on #71
Can you test version 1.2.4 ?

[2021-12-16 14:52] RikBast commented on #60
Sorry for bothering.
I thought you meant homebridge-harmonyhub-plugin.
I use HC2 logitech harmony plug-in but not the homebridge-harmonyhub-plugin

Latest version 1.2.4 removed VD's I read. Does it handle the HC2 Logitech harmony plug-in correctly?

Van: "ilcato" ***@***.***>
Aan: "ilcato" ***@***.***>
Cc: "rik" ***@***.***>, "Mention" ***@***.***>
Verzonden: Dinsdag 7 december 2021 16:14:08
Onder

[2021-12-16 15:12] ilcato commented on #60
No, I removed it. Just use the specific Homebridge Plugin, works flawlessly.

[2021-12-17 00:40] Damianod27 commented on #73
Thank you very much. Will test over the weekend.

[2021-12-17 00:44] Damianod27 commented on #64
If you added new devices and created the profile before, the new devices will not be visible. You must go to the HC2 user profile that you are using for Homebridge and select it.

[2021-12-17 17:17] lboue opened #76 "Expose services in a single HomeKit ​accessory for multiple services accessories like Flood/Smoke Sensor"
Hello,

Would it be possible to group services in a single accessory with multiple switches?
I think we could publish multiple services into an accessory with HomeKit to do that :

![This is an image](https://i.ibb.co/wssdS7w/68747470733a2f2f686f6d656b69746e6577732e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031392f3036.jpg)

For exemple, I own a multi-switch device 'Greenwave PowerNode'.
![T

[2021-12-18 10:35] lboue commented on #76
This is working for Philips Hue devices like Philips Hue motion sensor which is also have additionnal services (Temp and Light sensors).

This would be possible to group together the services presented by Fibaro accessories. For example :

#### Fibaro FGFS-101-ZW5 "Flood Sensor"
-  Smoke Sensor
- Temp sensor

#### Fibaro FGSD "Smoke Sensor"
- Smoke Sensor
- Temp sensor

Regards
Ludovic

[2021-12-18 10:52] lboue commented on #76
Maybe there is a link with this already existing piece of code checking for **device.parentId**:

https://github.com/ilcato/homebridge-fibaro-home-center/blob/d4a25f2d881222233efb9af326645befaf827901/src/platform.ts#L247

[code]

[2021-12-18 21:39] lboue commented on #76
I think I understood my device is not recognized as multi-service. Indeed the current implementation is based on the name of the device and not the identifier of the parent device.
But my slave devices has not the same name, so it fails.

https://github.com/ilcato/homebridge-fibaro-home-center/blob/d4a25f2d881222233efb9af326645befaf827901/src/platform.ts#L202

Is there a reason not to use the _par

[2021-12-18 22:04] lboue commented on #76
When I set the same name to slave devices, I am getting errors from the log console as you can see below:
[code]

[2021-12-18 22:07] amatt09 commented on #64
@ilcato Version 4.0 and 4.1

[2021-12-18 22:14] amatt09 commented on #64
@Damianod27 the devices are already added to the user account in HC2 that I use for homebridge. It does not show the device in homebridge as an accessory.

[2021-12-19 17:46] ilcato commented on #64
@amatt09 are you able to tell me the `type` of the device using the REST API ?

[2021-12-20 06:16] frimar75 opened #78 "Thermostat not shown in HomeKit"
I have 2 Eurotronic Spirits running and one of them is not correctly shown in the home app. It just shows the temperature but the Thermostat-device itself is not in the home app, so can‘t influence the temperature via home app. The other Eurotronic device is shown correctly.

[2021-12-22 09:13] ilcato commented on #78
@frimar75, which version of the plugin do you have ? In the last one I removed the support for the single thermostats in favour of the climate zones.

[2021-12-22 09:33] frimar75 commented on #78
Hi, it’s v 1.2.4. but as I said, one thermostat is shown as usual, the other one isn‘t and I just recognised, that also my Fibaro heat isn‘t shown, I just can see the actual temperature but I guess, I can not influence it ….

Von meinem iPad gesendet

Am 22.12.2021 um 10:14 schrieb ilcato ***@***.***>:

﻿

@frimar75<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ffr

[2021-12-22 09:39] ilcato commented on #78
@frimar75 in version 1.2.4 no support for thermostats. Probably your cached accessories is dirty. Try to remove the specific accessories from it (you can do it via homebridge UI).

[2021-12-23 12:20] RikBast commented on #60
All works well now, with using the Logitech-homebridge plugin

However I do miss the Fibaro heat controller in homebridge, isn’t incorporated yet?

[2021-12-23 12:45] ilcato commented on #60
@RikBast, in the current version I implemented the support for the climate/heating zones. So if you define heating zones for your heat controllers you will see it in homebridge.

[2021-12-24 11:10] myp3uk-ekb commented on #72
this log with version 1.2.4, the problem is stil not solve.

 at Object.next (/usr/local/lib/node_modules/homebridge/node_modules/tslib/tslib.js:124:57)
    at /usr/local/lib/node_modules/homebridge/node_modules/tslib/tslib.js:117:75
[12/24/2021, 12:03:58 PM] Got SIGTERM, shutting down Homebridge...
[12/24/2021, 12:04:03 PM] [HB Supervisor] Homebridge Process Ended. Code: 143, Signal: null
[12/24/

[2021-12-26 23:16] frimar75 commented on #78
Okay, that seemed to be the problem, now everything works, thanks!

[2021-12-30 07:49] au-james commented on #71
I have this same issue. When adjusting dimmer level, dimmers jump for less than a second to the selected level, then revert to the original dimming level. Turning off/on works as expected.
![image](https://user-images.githubusercontent.com/96862365/147731867-689985a5-5e17-45dd-ba9c-acd073931190.png)

Homebridge v1.3.9
HC v4.620
homebridge-fibaro-home-center v1.2.4

The old plug homebridge-fibaro-h

[2021-12-30 18:51] #78 closed

[2021-12-31 10:38] wilbertsmits opened #79 "Radiator thermostat mode ‘OFF’ not detected"
Hi,

First: I’m really happy with the plug-in. Keep up the good work!

I have an issue with radiator thermostats (Eurotronic Spirit): when I change the operating mode to ‘OFF’ it’s not detected in Homebridge. It displays the ‘old’ temperature.
I tried changing the mode via ‘climate’ and the device itself. Both don’t result in updating the state in Homebridge.

cheers,

Wilbert

[2022-01-04 13:45] meme1981 opened #80 "Nice state in Garage Door Opener"
Ciao!
Just a question,
It's possible to have in garagedooropener the 4 states?

Fibaro's output of properties.value (for Nice Gates) are 4 :
Closed, Opened, Opening, Closing.
Thanks
(se posso aiutarti sono a disposizione!)

[2022-01-07 10:44] szucsitg opened #81 "looking for ca.cer in case of http connection"
I tried to set up with a HCL device the plugin, however it prompted me that it's unable to login and missing the ca.cer file.
I used the URL based config as `http://hcl-012345.local`.
Once I switched to host with IP address, it was able to login successfully.
Could you disable certificate check in case of http URLs?

[2022-01-10 13:31] ilcato commented on #80
@meme1981 is there also the value `stopped` ?

[2022-01-10 13:34] ilcato commented on #80
@meme1981, can you test the beta version ?
Use homebridge-fibaro-home-center@beta to install.

[2022-01-10 13:37] ilcato commented on #79
@wilbertsmits which version of the plugin are you using? In the latest version there's no support for single thermostats, only for climate zones.

[2022-01-10 13:37] ilcato commented on #73
@Damianod27, where you able to test it?

[2022-01-10 13:39] Damianod27 commented on #73
I'm sorry, I forgot.  Yes, everything is ok.

[2022-01-10 13:40] ilcato commented on #73
Thanks

[2022-01-10 13:41] #73 closed

[2022-01-10 15:08] redeemer666 opened #82 "Beta update available as “Latest version”"
Hi ilcato.

Homebridge tells me there is an update for your plug-in, but it points out as 1.2.5-Beta-0. Moreover, not the 0 nor the beta-2 will correcty install. I cannot report here the problem but it seems there are compatibility issues with node.js and npm (I have 16.13.1 and 8.1.2).

Thanks

[2022-01-10 15:16] ilcato commented on #82
@redeemer666,  1.2.5-Beta-0 shouldn't be no more present.
What kind of error do you see in the beta? Can you post it here?

[2022-01-10 15:25] redeemer666 commented on #82
Hi @ilcato
Still seeing as available as update.

This is the error I got after installing it

[10/01/2022, 15:56:47] [FibaroHC] Initializing FibaroHC platform...
[10/01/2022, 15:56:48] TypeError: Cannot read properties of undefined (reading 'indexOf')
    at new FibaroClient (/usr/local/lib/node_modules/homebridge-fibaro-home-center/src/fibaro-api.ts:52:27)
    at new FibaroHC (/usr/local/lib/node

[2022-01-10 16:40] meme1981 commented on #80
Se non ricordo male sei italiano giusto?

Inviato da iPhone

Il giorno 10 gen 2022, alle ore 14:31, ilcato ***@***.***> ha scritto:

﻿

@meme1981<https://github.com/meme1981> is there also the value stopped ?

—
Reply to this email directly, view it on GitHub<https://github.com/ilcato/homebridge-fibaro-home-center/issues/80#issuecomment-1008876782>, or unsubscribe<https://github.com/notifications/

[2022-01-10 16:45] ilcato commented on #80
oui

[2022-01-10 16:51] meme1981 commented on #80
Perfetto!!
Il quinto stato è “Unknow”
Se lo stoppi a metà lui va in “Unknow”
Comunque arrivo a casa e ricontrollo.
Questo con L antenna OXBidi che e’ bidirezionale ovviamente.
Appena arrivò a casa installo la beta e proviamo subito
Grazie!!

Inviato da iPhone

Il giorno 10 gen 2022, alle ore 17:45, ilcato ***@***.***> ha scritto:

﻿

oui

—
Reply to this email directly, view it on GitHub<https://g

[2022-01-10 17:09] redeemer666 commented on #82
Hi @ilcato

Installed 1.2.6. Still getting error attached during installation, but this time it’s working fine.
<img width="798" alt="Immagine PNG" src="https://user-images.githubusercontent.com/9434736/148808017-ddbbcae9-fa87-4297-b7fe-51d7482c0560.png">

[2022-01-10 17:24] meme1981 commented on #80
Va in crash homebridge, dopo riprovo perché dalla macchina fatico

[cid:CED8D095-5198-46D6-A214-9E7806DF7A55-L0-001]
Inviato da iPhone

Il giorno 10 gen 2022, alle ore 17:45, ilcato ***@***.***> ha scritto:

﻿

oui

—
Reply to this email directly, view it on GitHub<https://github.com/ilcato/homebridge-fibaro-home-center/issues/80#issuecomment-1009101199>, or unsubscribe<https://github.com/notifica

[2022-01-10 17:46] meme1981 commented on #80
Ti confermo i 5 stati:
Opened
Opening
Closing
Closed
Unknow
Se si stoppa va in Unknow

Ho reinstallato la 1.2.7-beta ma va in crash

________________________________
Da: ilcato ***@***.***>
Inviato: lunedì 10 gennaio 2022 17:45
A: ilcato/homebridge-fibaro-home-center ***@***.***>
Cc: meme1981 ***@***.***>; Mention ***@***.***>
Oggetto: Re: [ilcato/homebridge-fibaro-home-center] Nice state in Garag

[2022-01-10 18:12] wilbertsmits commented on #79
I'm using the latest version and am aware that only climate is supported. But changing in climate didn't result in an update of the item in Homebridge.
I would love to see single thermostats working so I can do all the 'climate' management in Apple Home and bypassing Fibaro climate. Is that something you want to place on the backlog?

[2022-01-11 15:21] #82 closed

[2022-01-11 15:21] ilcato commented on #80
@meme1981, can you test it with the new beta?

[2022-01-11 17:02] myp3uk-ekb commented on #72
1.2.6

[1/11/2022, 5:59:42 PM] [HB Supervisor] Homebridge Process Ended. Code: 143, Signal: null
[1/11/2022, 5:59:47 PM] [HB Supervisor] Restarting Homebridge...
[1/11/2022, 5:59:47 PM] [HB Supervisor] Starting Homebridge with extra flags: -I -P /homebridge/node_modules
[1/11/2022, 5:59:47 PM] [HB Supervisor] Started Homebridge v1.3.9 with PID: 26291
[1/11/2022, 5:59:47 PM] Loaded config.json with

[2022-01-11 19:37] meme1981 commented on #80
Hi, now it works but no refresh state, i need to close the app and open it again, Other problem is this: when i Open it's always in Closing...
If this can help with Nodered i use this function:

 if (msg.payload.properties.state === "Opened") {
msg.payload.CurrentDoorState = 0;
msg.payload.TargetDoorState = 0;
}
else  if (msg.payload.properties.state  === "Opening") {
msg.payload.CurrentDoorState

[2022-01-12 13:28] ilcato commented on #80
What does it mean? Are the new state reported correctly beside the refresh issue?

[2022-01-12 13:41] TimE90 opened #83 "How to update from v1.1.14"
I've installed and configured plugin version 1.1.14.

What's the best way to update without loosing all devices and configurations?

[2022-01-12 23:15] meme1981 commented on #80
problem 1:
when the door or gate is “opening” the device signals closing.
problem 2:
the status does not follow the polling period: after movement the door is closed or open ( in Fibaro too) and on the homekit app it appears “closing” until the homekit app is closed and reopened.
Thanks

Inviato da iPhone

Il giorno 12 gen 2022, alle ore 14:28, ilcato ***@***.***> ha scritto:

What does it mean? A

[2022-01-13 14:48] TimE90 commented on #83
For better explanation: I've installed _homebridge-fibaro-hc3 v1.1.14_. I don't know how to update this because the repository doesn't exist anymore?

[2022-01-13 14:55] TimE90 commented on #83
Maybe it's possible through editing cachedAccessories and change "[{"plugin":"homebridge-fibaro-hc3","platform":"FibaroHC3"" to "[{"plugin":"homebridge-fibaro-home-center","platform":"FibaroHC"?

[2022-01-13 17:50] ilcato commented on #83
Not sure it is possible.

[2022-01-16 15:23] TimE90 opened #84 "Problem with activating scenes via Siri on HomePod"
There's a problem when activating scenes via Siri on HomePod. When the scene has 10+ devices (only from HC-bridge) and is activated via Siri she says "One moment… work in process... I didn't get a response".

This is the log of such scene:
`[16/01/2022, 16:21:38] [FibaroHC3] Command:  setValue, value: 50, to: 276
[16/01/2022, 16:21:38] [FibaroHC3] Command:  turnOn, to: 516
[16/01/2022, 16:21:38] [

[2022-01-18 14:59] #83 closed

[2022-01-19 00:57] TimE90 commented on #84
Sorry - just discovered a topic on Reddit. It’s a problem with HomePods since iOS 15.

see: https://www.reddit.com/r/HomePod/comments/rk02yb/homepod_siri_so_slow_homekit_scenes_and_shortcuts/

[2022-01-19 00:57] #84 closed

[2022-01-21 21:30] FBerriere opened #85 "Blinds module activated when opening het accessory page"
Everytime i open a room in the accessory page within homebridge, the blinds (Fibaro Roller Shutter modules) in that room receive some sort of signal. I can hear the relays of the modules clicking. The plugin sends the last known value to the modules: i tested and confirmed this by:
- changing the position of the blinds in homebridge
- going to another room and back to the room with the blinds (pos

[2022-01-25 08:53] szucsitg commented on #81
sorry for the late response, I was swamped recently.
I've installed the beta (`homebridge-fibaro-home-center v1.2.7-beta.2`) now it doesn't block loading, but still prints suspicious log messages:

[code]

[2022-02-01 13:07] alloploid opened #86 "Virtual devices"
Hi,

Do you plan to support Virtual Devices (HC2)?

[2022-02-01 13:12] alloploid opened #87 "Separate admin account"
The previous plugin for HC2 offered separate configuration parameter for admin account (required for global variables). Now, there is only login. Using an admin account makes all devices visable in HomeKit. Any plans about this feature?

[2022-02-04 09:31] coucou2000 opened #88 "Yubii Home support"
Hi,

Do you support the Yubii Home which is very close to the FC3 lite.

Thanks

[2022-02-04 10:17] coucou2000 commented on #88
I tried with the last version, it doesn't work. No accessories loaded in the HomeBridge.

[2022-03-01 09:06] ilcato commented on #81
@szucsitg, can you test v1.2.7-beta.3 ?

[2022-03-01 09:26] ilcato commented on #80
@meme1981, can you test it with the new beta?

[2022-03-01 09:44] ilcato commented on #71
@jimbju, can you test 1.2.7-beta.5 ?
@oxystin, it contains your fix.

[2022-03-01 09:51] ilcato commented on #72
@myp3uk-ekb can you test 1.2.7-beta.5 ?

[2022-03-01 16:06] ilcato commented on #79
@wilbertsmits, do you see something strange in the log? Can you share it?

[2022-03-01 16:16] ilcato commented on #88
@coucou2000, is the plugin able to connect to your Subii Home ? Unfortunately I do not have such a device.

[2022-03-01 16:45] ilcato commented on #87
@alloploid, can you test v1.2.8-beta.0 ?

[2022-03-01 16:51] coucou2000 commented on #88
@ilcato, yes the plugin is able to connect to my Yubii Home without problem, but no device loaded. Here is exemple log :

[3/1/2022, 5:47:39 PM] [Homebridge UI] Changes to config.json saved.
[3/1/2022, 5:47:39 PM] [Homebridge UI] Running Command: npm uninstall --save homebridge-fibaro-hc3
[3/1/2022, 5:47:44 PM] [Homebridge UI] Homebridge restart request received
[3/1/2022, 5:47:44 PM] [Homebridge

[2022-03-01 16:57] ilcato commented on #88
@coucou2000, are you able to call the rest api from the Yubii interface ?

[2022-03-01 17:07] coucou2000 commented on #88
@ilcato can you show me how to do it ?

[2022-03-01 17:20] ilcato commented on #88
@coucou2000,
in the lower left-hand corner of the interface there are four buttons: Settings, Console, API documentation, Support.
Select API documentation and access the interactive REST API documentation interface (Swagger).

From there you can call all the API. I'm interesting in what happens by calling the get devices api.

[2022-03-01 17:35] coucou2000 commented on #88
@ilcato when i click Swagger button, it begins to load the http://192.168.1.110/swagger page. But for a few minutes, it's always in the loading status with the blanc page. Nothing appears in the page.

[2022-03-01 17:49] coucou2000 commented on #88
@ilcato I finally get the page loaded, i tried the GET ​/devices API, it seems OK with the 200 return code, here is a part of the result :

[
  {
    "id": 1,
    "name": "zwave",
    "roomID": 219,
    "view": [],
    "type": "com.fibaro.zwavePrimaryController",
    "baseType": "",
    "enabled": true,
    "visible": false,
    "isPlugin": false,
    "parentId": 0,
    "viewXml": false,
    "conf

[2022-03-01 23:12] ilcato commented on #88
How many ids are returned?

[2022-03-02 06:59] coucou2000 commented on #88
@ilcato i  all, 12 ids were returned.

[2022-03-02 09:53] coucou2000 commented on #88
@ilcato in fact, it's a roller shutter device made by NICE : https://www.niceforyou.com/en/solutions/automation-for-shutters.

[2022-03-02 11:20] ilcato commented on #88
@coucou2000, can you test 1.2.8-beta.2 ?

[2022-03-02 11:38] coucou2000 commented on #88
@ilcato super, it works !

Just a question, i can up/down the shutter but can not have the STOP button. It's normal ?

[2022-03-02 12:02] coucou2000 commented on #88
i can use Siri to up/down completely the shutter, but when i asked to reach the % level, nothing happened, the commande is just ignored.

[2022-03-02 12:33] coucou2000 commented on #88
I am French-speaking, for example, once translated, I ask SIRI to "lower the shutter of the living room to 50%"

[2022-03-02 13:22] ilcato commented on #88
With the Fibaro roller shutter it works.
Can you post the entire message of the com.fibaro.remoteBaseShutter device ?

[2022-03-02 13:50] ilcato commented on #88
No, I mean the one obtained from the API, like:
`{
"id": 1,
"name": "zwave",
"roomID": 219,
"view": [],
"type": "com.fibaro.zwavePrimaryController",
"baseType": "",
"enabled": true,
"visible": false,
"isPlugin": false,
"parentId": 0,
"viewXml": false,
"configXml": false,
"interfaces": [
"zwave"
],`

[2022-03-02 14:01] coucou2000 commented on #88
{
    "id": 33,
    "name": "Volet",
    "roomID": 221,
    "view": [
      {
        "assetsPath": "/dynamic-plugins/com.fibaro.remoteBaseShutter/assets",
        "jsPath": "/dynamic-plugins/com.fibaro.remoteBaseShutter",
        "name": "com.fibaro.remoteBaseShutter",
        "translatesPath": "/dynamic-plugins/com.fibaro.remoteBaseShutter/i18n",
        "type": "ts"
      }
    ],
    "type": "

[2022-03-02 14:30] ilcato commented on #88
Let me check tonight how the Fibaro Roller shutter is different from this perspective.

[2022-03-02 14:39] coucou2000 commented on #88
Thanks a lot. Alternatively, it would be better if it's possible to implement the 3rd STOP button as done in the HC3 gateway.

![HC3](https://user-images.githubusercontent.com/98122366/156383235-2253237c-774c-4d5c-9735-6418d8cb5ca9.png)

[2022-03-02 15:26] ilcato commented on #88
Unfortunately the Home app doesn't expose the stop UI.

[2022-03-02 18:50] ilcato commented on #88
@coucou2000, can you try to execute the following command in the swagger interface?
![image](https://user-images.githubusercontent.com/1260538/156428479-e7848987-ea70-49d3-a2a8-0b4282a9539a.png)

[2022-03-02 23:10] coucou2000 commented on #88
@ilcato the following response :

202
Undocumented

Response body

Download
{
  "id": 39,
  "timestamp": 1646262443
}

Response headers

 cache-control: no-cacheno-store
 connection: keep-alive
 content-type: application/json;charset=UTF-8
 date: Wed02 Mar 2022 23:07:23 GMT
 server: nginx
 transfer-encoding: chunked

[2022-03-03 06:59] ilcato commented on #88
@coucou2000, did the device changed its position ?

[2022-03-03 07:48] coucou2000 commented on #88
@ilcato every time i run the command, the shutter pull up to the top of position. If it's already on the top, nothing happens.

[2022-03-03 07:53] ilcato commented on #88
@coucou2000, ok. If you put a 0 instead 30 in the args field does the shutter close ?

[2022-03-03 08:00] coucou2000 commented on #88
@ilcato yes, it closed to the bottom.

[2022-03-03 08:31] ilcato commented on #88
@coucou2000, so it seems that the device is not controlled with that parameter for the intermediate values (like the Fibaro one).
The other thing to notice is that it seems to support only BlindsWithoutPositioning role. The Fibaro device supports also BlindsWithPositioning.
Which product is it exactly ? Can you indicate the corresponding web site page ?

[2022-03-03 09:05] coucou2000 commented on #88
@ilcato that is what i think.

It's an old mechanical shutter in which I added some parts to electrify it: a motor (ERM08000000), a receiver (TT1N) and a remote control (ERA 1). Everything comes from Nice, a company based in Italy. Perhaps it is not very present in English-speaking countries. Nevertheless, I found some links for related products.

NICE TT1N controler https://www.niceforyou.com/en/

[2022-03-03 09:12] ilcato commented on #88
ok. Nice bought Fibaro sometimes ago. I'm Italian :-)
So, what we see in Yubii is the TT1N or the ERA 1 ?

[2022-03-03 09:18] coucou2000 commented on #88
@ilcato what a suprise, grazie !

What we see is the transmitter ERA. In the Yubii, it's also possible to synchronizer with the reciever TT1N, but i haven't got it to work yet.

[2022-03-04 11:14] mol7os opened #94 "Power Consumption"
Hi,
maybe I missed this in any description but would it be possible to get "Power Consumption" state as well?
I am using different Homebridge instances, one as an example within the iobroker (only for internal purposes).
In this implementation, it seems that the "power" value will not collected by the plugin. Is there a chance to request this value?

[2022-03-06 06:52] au-james commented on #71
I installed v1.2.7 - Latest. Looks like this is fixed. Thanks!

[2022-03-06 12:50] #71 closed

[2022-03-15 10:46] ilcato commented on #85
@FBerriere, which update are you referring to ?

[2022-03-15 10:49] #79 closed

[2022-04-09 03:37] baduxiyang opened #96 "about com.fibaro.fanMode"
Hello, will version 1.2.8 be updated in the near future? Is there a solution to the problem of air conditioning fan?

Device kind:com. fibaro. fanMode

Thank you

[2022-04-09 03:38] baduxiyang commented on #96
If I need assistance, I can send a remote account for assistance

[2022-04-14 18:08] naspinec opened #97 "Allow use of more than one fibaro/nice box with the plugin"
Hello,

I have 2 Fibaro Home Center at home (HC2 and HCL). I want to connect them without using the gateway mode. Is it possible to add that feature. I plan to migration to HC3/HC3L also so it will nice to have that feature.

Regards

[2022-04-17 09:48] baduxiyang commented on #96
This is not displayed in homebridge ,thank you!

[2022-04-27 12:41] amatt09 opened #98 "Keeps restarting, throwing error"
after installation homebridge beings to run, it comes up with the following error. Does anyone know how to resolve these errors? have have reinstalled homebridge, deleted all the folders, upgraded npm and node JS.

[4/25/2022, 5:21:28 PM] Error: This callback function has already been called by someone else; it can only be called one time.
    at /usr/local/lib/node_modules/homebridge/node_modules

[2022-05-06 11:08] Berti321 commented on #98
Hi i have the same Problem.

Error: This callback function has already been called by someone else; it can only be called one time.
    at /usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/util/once.ts:7:13
    at FibaroAccessory.getCharacteristicValue (/homebridge/node_modules/homebridge-fibaro-home-center/src/fibaroAccessory.ts:440:9)
    at CurrentHeatingCoolingState.<anony

[2022-05-08 16:27] ssdasdas commented on #72
With Node 14.* all good. But not with Node 16.*

[2022-05-09 13:26] Damianod27 opened #99 "Yubii Home Question ?"
Hello.  I have a question whether the plug supports Yubii Home ? Elero roller blinds are operating in it.  They work on 868mhz radio protocol.

[2022-05-11 09:19] KJTamas commented on #98
Hi, same here. (i not copied the log, because that is same too) Anybody have a solution?

[2022-05-14 18:37] amatt09 commented on #98
I think I have found the issue, I removed accessories from the user access in home center. I started to add them back by room and found that my z-wave thermostat was causing the issue for some reason. Not sure what changed recently but that is what I have narrowed it down to.

[2022-05-14 22:45] KJTamas commented on #98
I think i found the root cause. I have a motion sensor in kitchen. One z-wave device looks like one motion sensor, one teperature sensor, one light sensor etc. Accidentally two devices (motion sensor and temperature sensor) has the identically same name. :( I changed the temperature sensor name, and heureka, everiting works fine!

[2022-05-16 21:20] Berti321 commented on #98
I have checked all devices but I have not found a duplicate name

[2022-05-17 20:34] Berti321 commented on #98
I have disabled all devices and still the error is displayed.

And only the ID 1 & ID 2 remained over

![4](https://user-images.githubusercontent.com/85880882/168904929-e2ddb05b-d991-495b-bc93-294a2e9acf80.PNG)
![1](https://user-images.githubusercontent.com/85880882/168904933-eebeabeb-92cb-4085-82b1-c043a870a0c7.PNG)

[2022-05-17 22:13] naspinec opened #100 "Global variable switch error like #40"
Hello,

When I use Global Variables as switches I get one error saying : "There was a problem setting variable:  ABSENT to true"

In homekit the button switch to On but after a few seconds switch bask to Off.

Regards

[2022-05-18 06:25] KJTamas commented on #98
Which user use to connect HC? Admin or created a new user? What does it mean "disabled"?

[2022-05-18 06:48] Berti321 commented on #98
I have created a new user: homebridge
I have disabled the devices for testing with the user, I made a picture of it

![1](https://user-images.githubusercontent.com/85880882/168975029-403c3f65-94fd-4a8a-a0ae-065ebacd89e4.PNG)
![2](https://user-images.githubusercontent.com/85880882/168975032-c477f499-9245-4e7e-8050-9fbf33be2e2c.PNG)
![3](https://user-images.githubusercontent.com/85880882/168975034-2

[2022-05-19 14:54] KJTamas commented on #98
Have you tried clear the cache?

[2022-05-19 19:59] Berti321 commented on #98
Thanks for your help, I could not clear the cache, there was always something in it until I noticed that the error was generated by the header plans. I disabled the user's access to the plans and the error is gone.
![22](https://user-images.githubusercontent.com/85880882/169394248-81bb820c-938f-4be2-8c63-a8d42e56817e.PNG)

[2022-05-19 20:16] Berti321 commented on #98
You can leave the plans on but you have to give each plan its own name. =) =
![223](https://user-images.githubusercontent.com/85880882/169396968-80c656ea-bd9b-40b4-9eb7-64a5a3d74f02.PNG)
)

[2022-05-20 16:54] ssdasdas commented on #72
npm install -g homebridge-fibaro-home-center@1.2.8-beta.2

[2022-05-20 17:50] myp3uk-ekb commented on #72
Thanx. It’s working good

[2022-05-20 18:02] ssdasdas commented on #72
Which Node version?

[2022-05-20 19:02] myp3uk-ekb commented on #72
Is 16.14.0

[2022-05-24 16:13] ssdasdas commented on #72
at new Promise (<anonymous>)
    at StatusLowBattery.<anonymous> (/usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/Characteristic.ts:1590:12)
    at step (/usr/local/lib/node_modules/homebridge/node_modules/tslib/tslib.js:144:27)
    at Object.next (/usr/local/lib/node_modules/homebridge/node_modules/tslib/tslib.js:125:57)
    at /usr/local/lib/node_modules/homebridge/node_mo

[2022-05-27 07:50] ilcato commented on #100
@naspinec, which version of the plugin do you use ?

[2022-05-27 07:59] ilcato commented on #98
@Berti321, sorry for the late response.
Yes a thermostat is created for every temperature zone and they must have a unique name.

[2022-05-27 08:04] ilcato commented on #98
@amatt09, @KJTamas were you able to fix the problem ?
The clear cache accessories option and having a unique name for all the devices **within a single room** should fix the problem.
As @Berti321 found, also the temperature zone must have a unique name.

[2022-05-27 08:09] ilcato commented on #72
@myp3uk-ekb @ssdasdas can you update to latest version and verify that all devices within the same room have a unique name ? If you use also the temperature zones, please verify to have a unique name for them.

[2022-05-27 08:19] KJTamas commented on #98
@ilcato I don't cleared the cache, because maybe lost of automations in HK, only i gave an unique name every devices. This solved the problem. For me.. :)

[2022-05-27 08:21] ilcato commented on #98
@KJTamas, ok. Remember that with the homebridge UI you can selectively delete any single accessory from the cache.

[2022-05-27 09:14] ssdasdas commented on #72
with Node 16 again:
[code]

with node 14 I have this errors too, but it not chashed home bridge:

[code]

All names unique

[2022-05-27 09:14] KJTamas commented on #98
Yes, i know it, but earlier when i cleared the all cached devices, i lost all automations where the Fibaro was the trigger. 🥺 So carful with the clearing cache. 🫡

[2022-05-27 09:24] ilcato commented on #72
@ssdasdas can you please try to delete the cached accessories ?

[2022-05-27 10:23] Damianod27 commented on #99
Thank you for your response.  A friend has Elero's roller shutters.  I was writing on his behalf.  I will let him know and he will answer.  Regards

[2022-05-27 13:07] naspinec commented on #100
I tried 1.2.8 and added admin credentials and it worked correctly.

[2022-05-27 13:34] #99 closed

[2022-05-27 13:47] ilcato commented on #100
good

[2022-05-27 13:47] #100 closed

[2022-05-27 14:05] #64 closed

[2022-05-31 11:43] jimbju opened #101 "Dimming issue back?"
Hi,

Verisons:
Homebridge v1.3.8
homebridge-fibaro-home-center v1.2.8

Same issue as in https://github.com/ilcato/homebridge-fibaro-home-center/issues/71 and https://github.com/ilcato/homebridge-fibaro-home-center/issues/48 is back. Tl;dr setting Fibaro dimmer to any value turns light on than immediately off again.

[2022-06-14 12:44] harut1981 opened #102 "Thermostat limits"
Is it possible to change thermostat heating limit (current is 38C) to 100C?
I need it for sauna.

P.S.
Thank you Ilcato for your excelent work!!!!

[2022-06-14 15:24] harut1981 commented on #102
Limit has changed but control is broken

[2022-06-14 15:58] harut1981 commented on #102
It works couple of times and then stops responding

[2022-06-14 16:07] ilcato commented on #102
interesting. Any info from the log ?

[2022-06-15 11:18] harut1981 commented on #102
Hi. Nothing in logs. Don't know the reason but it works today.
Thank you.

[2022-06-15 11:54] ilcato commented on #102
May I keep this change ?

[2022-06-15 14:06] harut1981 commented on #102
This is my first time trying to add climate zones. I think it works but can't be 100% sure.
Are you planning to add also thermostats directly, not by climate zones?

[2022-06-15 14:15] ilcato commented on #102
No, I removed direct thermostat support because of too many different way to manage it.

[2022-06-19 10:49] crescentit commented on #98
This is happening for me as well. I have tried to remove all duplicates from HC3. :(

[2022-08-18 17:17] miwa4711 opened #106 "Some Devices missing or not updated"
Hi,

using HB within Iobroker  to connect my Fibaro HC2 (ca. 130 Z-Wave Devices). Unfortunately some fibaro devices are not polled (e. g. smart implant with tempSensor DS18B20, DI of RGB-W Modul)  while same device types are detected correctly. Also some values will not be updated. Devices work fine in HC2.
[config.txt](https://github.com/ilcato/homebridge-fibaro-home-center/files/9376121/config.t

[2022-08-19 18:11] RikBast opened #107 "Change class of Fibaro roller shutter 2 to garage door instead of blind homebridge-fibaro-home-center"
Hi,

I use roller shutter 2 as controller of a cargate, however in homebridge it is seen as ‘window covering’ class. Can it be changed to ‘garage’ as device class?

The goal is to make the gate visible in Apple CarPlay dashboard

thx,
Rik

[2022-08-30 04:47] lboue opened #108 "(node:13567) UnhandledPromiseRejectionWarning: Error: This callback function has already been called by someone else; it can only be called one time."
Hello,

I am getting this error on the log file:
_(node:13567) UnhandledPromiseRejectionWarning: Error: This callback function has already been called by someone else; it can only be called one time._

[code]

Could you help me to fix it?

Regards
Ludovic

[2022-09-13 20:06] lboue opened #111 "Duplicate line followed by an error for the following services: Status Low Batter & Charging State for FGFS101 floodSensor"
Hello,

I am facing an error in the log file with my FGFS101 floodSensor.
I noticed a duplicate line followed by an error for the following services for FGFS101 floodSensor

- Status Low Battery
- Charging State

**Reason**
batteryLevel is reported as a attribute for both floodSensor and temperatureSensor
- Device 178: parent Device / batteryLevel: "79"
- Device 179: floodSensor / batteryLevel: "7

[2022-09-13 20:42] lboue opened #113 "[Feature] Reporting Consumption for 'power' devices"
Hi,

Some devices are reporting energy consumed with the _power_ attribute:
power: "38.00",

It would be very interesting to publish this value in homekit thanks to an [Elgato Eve HomeKit Characteristics](https://gist.github.com/gomfunkel/b1a046d729757120907c)

- [Watt](https://en.wikipedia.org/wiki/Watt) (W) | E863F10D-079E-48FF-8F27-9C2605A29F52 | X | | UInt16 | Watt = UInt16(value) / 10. This i

[2022-09-14 06:05] lboue opened #115 "Fix service type for Wall Socket binarySwitch"
Wall Socket deviceControlType: "20" should be exposed to HomeKit as Outlet.
I pushed the PR #114 to fix that issue.

[2022-09-14 07:16] ilcato commented on #111
@lboue can you post the version of the fibaroAccessory.ts file corresponding to the logs ? I'm trying to understand what's there in lines 331 and 440.

[2022-09-14 11:53] lboue commented on #115
Fixed with 1.2.10

[2022-09-14 11:56] lboue commented on #111
@ilcato Here is the log file for new version 1.2.10:

[code]

[2022-09-14 13:14] lboue commented on #115
There are 2 accessories published instead of just one.
Wall Socket/Outlet is exposed but we also have a switch

![IMG-9572](https://user-images.githubusercontent.com/938089/190163377-0dfd352d-623b-4bd6-9062-59f636bff6ba.jpg)

[2022-09-14 18:37] mol7os opened #117 "IOS16 Device Type Groups"
Hi,

in my combination with Fibaro HC3, Homebridge/Plugin (all latest SW Version) it seems that the Fibaro Devices are sometimes grouped in the wrong categories. Checking the "central settings" all roller shutters are listed as such, but on the home screen, they are grouped within the favorite group "Climatic".
Is there anything how I can influence this kind of grouping on my own? In HC3 all devic

[2022-09-14 19:56] ilcato commented on #115
@lboue which app are you using ?

[2022-09-14 19:58] ilcato commented on #117
@mol7os not sure to understand what you are saying. Can you attach some screenshots ?

[2022-09-14 19:58] lboue commented on #115
I am using [Controller for HomeKit 4+](https://apps.apple.com/us/app/controller-for-homekit/id1198176727)

[2022-09-14 20:04] lboue commented on #108
I am still having the callback issue with homebridge-fibaro-home-center v1.2.14:

[code]

[2022-09-14 20:07] lboue commented on #115
Maybe OutletInUse have to be set as **additional** Characteristic and not **main**Characteristics.

`this.mainCharacteristics = [this.platform.Characteristic.On, this.platform.Characteristic.OutletInUse];
`

[2022-09-14 20:28] ilcato commented on #108
@lboue ok, more clear now.

[2022-09-14 20:51] ilcato commented on #111
@lboue are you sure that your accessories folder doesn't contain duplicated entries? Can you check with the help of homebridge ui settings page ?

[2022-09-15 06:44] mol7os commented on #117
Other Devices can be edited (Icon) which will then influence the categorization.
(Example a Switch: Switch/Light/Ventilator -> as light they will be grouped in the category "lights", as Switch they don´t have a predefined category in homekit).

![IMG_5787 14795](https://user-images.githubusercontent.com/26004218/190332516-7a80bcf0-bac8-4d4f-9f4e-7a4893cbbc43.jpg)

Maybe it´s a current bug in Homki

[2022-09-15 06:46] mol7os commented on #117
"Filter" Climatic (Klima) is chosen, and as you can see Roller Shutter devices are on that filter list. Fibaro Roller Shutter 2 in this case.

[2022-09-15 07:20] lboue commented on #117
I noticed the same behavior since iOS16 for me.

[2022-09-16 05:31] lboue commented on #111
I am getting the same issue with a fresh install or HomebridgeUI with a new Ubuntu VM.

[code]

[2022-09-16 06:15] lboue opened #118 "TSC build error / error TS2571: Object is of type 'unknown'"
Hello,

I facing an issue when I am building from last commit 041b6bf8d4c2889b519595af7a00872ba0c287ef:

[code]

Step to reproduce:
[code]

Could you help me to fix it?

Regards

[2022-09-16 18:07] lboue commented on #118
Thanks

[2022-09-16 18:07] #118 closed

[2022-09-16 18:24] lboue commented on #111
I think I found the root cause. If accessories 179 and 181 have the same name, I am getting the callback issue:

[code]

When I rename 181 to 'Detecteur fuite Temp' which is different from 179. I am not getting the callback error.

[code]

[2022-09-16 18:41] ilcato commented on #111
@lboue good finding !
This is the reason why my same device doesn't provoke the error: I have 2 different names.
Your proposed solution break the compatibility with cached accessories.
The uniqueness of device names within a room was already highlighted before.

[2022-09-16 18:44] ilcato commented on #111
For now I will put a warning in the readme file.

[2022-09-16 18:47] ilcato commented on #72
@myp3uk-ekb , @ssdasdas do you have device with the same name in the same room ? This maybe the cause of the problem. Check and change device name accordingly

[2022-09-16 18:48] #98 closed

[2022-09-18 07:43] coucou2000 opened #119 "roller shutters no longer respond after the last Yubii Home update"
Hi,

I updated my Yubii Center to the last version **5.120.10**, all my roller shutters no longer respond. The devices are always displayed in the Homebridge and the orders are also detected (screenshots). But they don't make any movement.

Can you please check it ?

Thanks
<img width="660" alt="yubii" src="https://user-images.githubusercontent.com/98122366/190891538-cdada3b5-99ae-47fe-8fef-38197a

[2022-09-18 08:13] ilcato commented on #119
I also update my home center 3 to 5.120.10 fw. No problem with my roller shutters.

[2022-09-18 09:31] coucou2000 commented on #119
So it should be related specifically to the Yubii Center device? What can I do to solve the issu ?

[2022-09-18 18:20] kot-925 commented on #86
Also interested in this question!

[2022-09-18 19:08] ilcato commented on #86
Not for now

[2022-09-18 20:46] coucou2000 commented on #119
I just did some tests. When I use the Yubii Home Center interface to control the shutter, everything works. In the history, it records actions like OPEN, STOP etc. When I use the Homekit, it only receives "SET VALUE" commands, and the shutter does not respond. Could that be a clue for the problem ?
<img width="895" alt="yubii" src="https://user-images.githubusercontent.com/98122366/190927476-30b3f

[2022-10-18 09:28] coucou2000 commented on #119
Always having the issue with the two last firmwareI (5.130.45, 5.120.10), I continue my research. In fact, my shutters are "blinds without positioning".

<img width="347" alt="tata" src="https://user-images.githubusercontent.com/98122366/196392261-e0b46c8c-c3d3-46f1-b703-e453706658e8.png">

I noticed with the latest Yubii HC firmware, my shutters do not respond to the "setValue" action. They only

[2022-10-18 17:24] Franco268 commented on #86
and what about QA?

[2022-10-26 19:32] PetrHuu opened #120 "Error: getaddrinfo ENOTFOUND hc3-000XXXXX.local"
Hello, I try to install homebridge on my Synology. I copied the certificate from my HC3 to /homebridge, but after restarting, I got the error:

[10/26/2022, 9:26:35 PM] [HC3-000XXXXX] Error getting data from Home Center:  Error: getaddrinfo ENOTFOUND hc3-000XXXXX.local
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (node:dns:71:26) {
  errno: -3008,
  code: 'ENOTFOUND',
  syscall: 'getaddrinfo

[2022-11-12 05:12] blasfemoTM commented on #119
I have the same coucou200 problem: the shutters do not respond to the "setValue" action. They only respond to the three actions: "Open, Stop, Close"
I have HC3 with fw 5.120.10
Hoobs 4.2.8

[2022-11-20 11:29] ilcato commented on #119
@coucou2000 @blasfemoTM can you send me the device discovery json response from the device api call ?

[2022-11-20 13:48] blasfemoTM commented on #119
Yes…. Help me to download and send you the file… i’n new in Fibaro home center “world”..

[2022-11-20 17:22] coucou2000 commented on #119
@ilcato how to get the file ?

[2022-11-21 08:01] ilcato commented on #119
@coucou2000 @blasfemoTM use the Swagger (it should be there also for the Yubii) button and select the device API. Specify the ID of your device.

[2022-11-21 19:25] blasfemoTM commented on #119
[Devices API.txt](https://github.com/ilcato/homebridge-fibaro-home-center/files/10059920/Devices.API.txt)

@ilcato .. correct ?

[2022-11-21 19:33] blasfemoTM commented on #119
[response_1669058868605.txt](https://github.com/ilcato/homebridge-fibaro-home-center/files/10059996/response_1669058868605.txt)

@ilcato

[2022-11-21 19:58] blasfemoTM commented on #119
Please @coucou2000 try if you see the swagger menu and try to start the device discovery json

[2022-11-21 20:03] coucou2000 commented on #119
here is the mine :

{
  "id": 39,
  "name": "Volet",
  "roomID": 219,
  "view": [
    {
      "assetsPath": "dynamic-plugins/com.fibaro.remoteBaseShutter",
      "name": "com.fibaro.remoteBaseShutter",
      "translatesPath": "/assets/i18n/com.fibaro.remoteBaseShutter",
      "type": "ts"
    },
    {
      "assetsPath": "dynamic-plugins/favorite-positions",
      "name": "favorite-positions",

[2022-11-22 07:27] ilcato commented on #119
@coucou2000 what's the ID of one of your device in scope of this issue?

[2022-11-22 07:31] ilcato commented on #119
@coucou2000, are you able to change the parameter "Blind without positioning" ?

[2022-11-22 07:52] blasfemoTM commented on #119
How i find the id??

[2022-11-22 08:25] ilcato commented on #119
never mind, I found one: "id": 23 in the file.

[2022-11-22 08:26] ilcato commented on #119
@coucou2000, @blasfemoTM can you test this beta version:
`homebridge-fibaro-home-center@1.2.15-beta.0`

[2022-11-22 09:11] ilcato commented on #119
@coucou2000 can you try:
`homebridge-fibaro-home-center@1.2.15-beta.2`
and look for `BETATESTNICESHUTTER` lines in the log ?

[2022-11-22 09:30] coucou2000 commented on #119
Unfortunately, it doesn't work :

[11/22/2022, 9:29:41 AM] [Yubii Home Center] Command:  setValue, value: 0, to: 34
[11/22/2022, 9:29:45 AM] [Yubii Home Center] Command:  setValue, value: 100, to: 34
[11/22/2022, 9:29:48 AM] [Yubii Home Center] Command:  setValue, value: 0, to: 34
[11/22/2022, 9:29:54 AM] [Yubii Home Center] Command:  setValue, value: 96, to: 34
[11/22/2022, 9:29:55 AM] [Yubii Hom

[2022-11-22 09:34] blasfemoTM commented on #119
@coucou2000 use a beta version 1.2.15-beta.2 from @ilcato ?

@ilcato: I don't have the possibility to use a different version.. I use hoobs.. I need your new version to be available in hoobs to try it out

[2022-11-22 09:40] coucou2000 commented on #119
Yes, i'v tried beta.0 and beta.2.

[2022-11-22 13:27] ilcato commented on #119
@coucou2000, with beta2 are you able to find lines in the log containing the string `BETATESTNICESHUTTER ` ?

[2022-11-22 13:35] coucou2000 commented on #119
@ilcato yes, i found the string as below :

Loading logs using native method...
File: /homebridge/homebridge.log

  setValue, value: 100, to: 39
[11/22/2022, 9:28:41 AM] [Yubii Home Center] Getting value from device:  39  parameter: Current Position
[11/22/2022, 9:28:41 AM] [Yubii Home Center] Getting value from device:  39  parameter: Target Position
[11/22/2022, 9:28:41 AM] [Yubii Home Center] G

[2022-11-22 15:08] ilcato commented on #119
@coucou2000, try to drive the roller shutter and check if additional `BETATESTNICESHUTTER ` logs are present.

[2022-11-22 15:20] coucou2000 commented on #119
@ilcato i drived the shutter, but nothing logged.

[2022-11-22 15:21] ilcato commented on #119
ok

[2022-11-22 15:31] ilcato commented on #119
@coucou2000 can you test `homebridge-fibaro-home-center@1.2.15-beta.3` and look for `BETATESTNICESHUTTER ` ?

[2022-11-22 15:38] coucou2000 commented on #119
it's the same. Not working in Homebridge. Nothing logged when using Yubii Home Interface 👍

[11/22/2022, 4:35:56 PM] Homebridge v1.5.1 (HAP v0.10.4) (Homebridge E7E3) is running on port 52014.
[11/22/2022, 4:35:56 PM] [Yubii Home Center] Loading accessories
[11/22/2022, 4:35:56 PM] [Yubii Home Center] Restoring existing accessory from cache: Volet
[11/22/2022, 4:35:56 PM] [Yubii Home Center] BETAT

[2022-11-22 15:51] ilcato commented on #119
@coucou2000 can you test `homebridge-fibaro-home-center@1.2.15-beta.4` and look for `BETATESTNICESHUTTER` ?

[2022-11-22 16:00] coucou2000 commented on #119
Yes, it works !!!!!

[11/22/2022, 4:59:31 PM] [Yubii Home Center] BETATESTNICESHUTTER: call command
[11/22/2022, 4:59:31 PM] [Yubii Home Center] Command:  close, value: 0, to: 32
[11/22/2022, 4:59:46 PM] [Yubii Home Center] BETATESTNICESHUTTER: call command
[11/22/2022, 4:59:47 PM] [Yubii Home Center] Command:  open, value: 0, to: 32
[11/22/2022, 4:59:47 PM] [Yubii Home Center] BETATESTNICESHUTTER

[2022-11-22 16:11] ilcato commented on #119
@coucou2000 , @blasfemoTM published version 1.2.15. Please install and test it and close the issue.
Thanks

[2022-11-23 16:28] blasfemoTM commented on #119
@ilcato whit last version works

only a question: in hoobs i see if the roller shutter it's open or close, but in Apple Home No.. all the roller shutter are in close state.. it's possibile to see the correct postion in Apple Home too ?

[2022-11-25 08:15] ilcato commented on #119
@blasfemoTM, I do not see any info in the json data that represent the position. Try to capture different snapshot of the json data for a roller shutter corresponding to different position of the roller shutter and see if there the info in the json.

[2022-11-25 10:54] gjniewenhuijse opened #123 "No status feedback to Homekit"
I have a working config, so i can control my devices from homekit and i see the changes in my HC3.

But when i turn on/off a device in the HC3 i can't see the changes in Homekit, why?